<div class="container-fluid">
    <div class="row">
        
        <div  id="side" class="col-md-12   border  " style="height:60px; background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Echo & Alexa</h3></div>
        <div  id="side" class="col-md-12   " style="height:45px;"   ><h6 class="mt-3 mx-5" style="color: black;font-size: small;">see all device with alexa</h6></div>

        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Content  & Resources</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Meet Alexa</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Alexa skill</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Alexa App</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Alexa Smart Home</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Amazon Prime Music</h6></div>
        <hr class="text-secondary">
    </div>
</div>
