
<div class="container-fluid"><div class="row">
    <div class=" d-flex flex-row   " style="height:fit-content ; ">
        <div id="option1" class=" col-sm p-1" ><a href="">ELECTRONICS</a></div>
        <div (click)="mob()"  id="option1" class=" col-sm p-1" ><a >Mobile & Accessories</a></div>
        <div (click)="lap()" id="option1" class= "col-sm p-1"><a >Laptop & accessories</a></div>
        <div (click)="tv()" id="option1"class="col-sm p-1"><a ><span>TV & Home Entertainment</span></a></div>
        <div (click)="audio()" id="option1" class="col-sm p-1"><a >Audio</a></div>
        <div (click)="camera()" id="option1" class=" col-sm p-1" ><a >Camera</a></div>
        <div (click)="computer()" id="option1" class=" col-sm p-1"><a >Computer Peripherals</a></div>
        <div (click)="smarttech()" id="option1" class= "col-sm p-1"><a >Smart Technology</a></div>
        <div  (click)="music()" id="option1"class="col-sm p-1"><a >Musical instrument</a></div>
        <div (click)="station()" id="option1" class="col-sm p-1"><a >Office Stationary</a></div>
        
        </div>
       

       
           

        </div> 
        <div class="row  " >
          <div class="d-flex ">
         <div class="col-sm-2 border-end border-2" align="left" style="width: fit-content;">
            <h3 style="font-weight: bolder;">Category</h3>
            <p><a href="">Accessories</a></p>
            <p><a href="">Laptop& accessories</a></p>
          <p><a href="">Keyboards, Mice & Input Devices</a></p>
         <p><a href=""> Keyboards</a></p>
        
            
        
        <p><a href=""> Gaming laptops </a></p>
         <p><a href="">smart pc</a></p>
         <h4 style="font-weight: bolder;">Amazon prime</h4>
             <input class="mx-1" type="checkbox"><img src="\assets\img\primeicon.png" width="80px">
             <h4 style="font-weight: bolder;">Delivery Day</h4>
             <input class="mx-1" type="checkbox">Get it Today<br>
             <input class="mx-1" type="checkbox">Get it by Tomorrow<br>
             <h4 style="font-weight: bolder;">Brands</h4>
             <input class="mx-1"type="checkbox">Zebronics<br>
             <input class="mx-1" type="checkbox">Apple<br>
             <input class="mx-1"type="checkbox">Tv electronics<br>

             
             <input class="mx-1" type="checkbox">Sony<br>
             <input class="mx-1" type="checkbox">Logicool<br>
             <input class="mx-1" type="checkbox">HP<br>
             <input class="mx-1" type="checkbox">Protonics<br>
             <input class="mx-1" type="checkbox">Amazon basics<br>
             <h4 style="font-weight: bolder;">Items</h4>
             <p><a href=""> New </a></p>
               <p><a href="">Renewed</a></p>
               <h4 style="font-weight: bolder;">Price</h4>
               <p><a href=""> Under $1,000</a></p>
               <p><a href="">$1,000 -$5,000</a></p>
               <p><a href=""> $5,000 - $10,000 </a></p>
               <p><a href="">$10,000 - $20,000</a></p>
               <p><a href="">Over $20,000</a></p>
               <h4 style="font-weight: bolder;">Deals & Discounts</h4>
               <p><a href="">All Discounts</a></p>
               <p><a href="">todays Deals</a></p>
               <h4 style="font-weight: bolder;">Computers & Accessories Brands</h4>
               <input class="mx-1"type="checkbox">Made for Amazon<br>
               <input class="mx-1" type="checkbox">Top Brands<br>
               
               <h4 class="mt-4" style="font-weight: bolder;">Connectivity Technology</h4>
               <input class="mx-1"type="checkbox">Bluetooth<br>
               <input class="mx-1" type="checkbox">Micro USB<br>
               <input class="mx-1"type="checkbox">RF<br>
  
               
               <input class="mx-1" type="checkbox">USB-A<br>
               <input class="mx-1" type="checkbox">USB-C<br>
               <input class="mx-1" type="checkbox">Wi-Fi<br>
               <input class="mx-1" type="checkbox">Infrared<br>
               <input class="mx-1" type="checkbox">Mini USB<br>
               <h4   class="mt-4" style="font-weight: bolder;">Keyboard Backlighting Color Support</h4>
               <input class="mx-1"type="checkbox">RGB<br>
               <input class="mx-1" type="checkbox">Single Color<br>
               <h4 class="mt-4" style="font-weight: bolder;">Recommended Use</h4>
               <input class="mx-1"type="checkbox">Business<br>
               <input class="mx-1" type="checkbox">Education<br>
               <input class="mx-1" type="checkbox">Everyday Use<br>
               <input class="mx-1" type="checkbox">Gaming<br>
               <input class="mx-1" type="checkbox">Multimedia<br>
               <input class="mx-1" type="checkbox">Personal<br>
               <input class="mx-1" type="checkbox">Programming<br>
               <input class="mx-1" type="checkbox">Student<br>

               <h4 class="mt-4" style="font-weight: bolder;">Operating Systems</h4>
               <input class="mx-1"type="checkbox">Chrome OS<br>
               <input class="mx-1" type="checkbox">Linux<br>
               <input class="mx-1" type="checkbox">Mac<br>
               <input class="mx-1" type="checkbox">Windows<br>

               <h4 class="mt-4" style="font-weight: bolder;">Item Height Surface To Top
                </h4>
               <input class="mx-1"type="checkbox">Up to 2.9 cm<br>
               <input class="mx-1" type="checkbox">3 to 4.9 cm<br>
               <input class="mx-1" type="checkbox">5 to 7.9 cm<br>
               <input class="mx-1" type="checkbox">8 cm & above<br>
             
             
               
               <h4   class="mt-4" style="font-weight: bolder;">Style</h4>
               <input class="mx-1"type="checkbox">Classic<br>
               <input class="mx-1" type="checkbox">Contemporary<br>
               <input class="mx-1" type="checkbox">Retro<br>
               <h4 class="mt-4" style="font-weight: bolder;">Special Features</h4>
               <input class="mx-1"type="checkbox">Backlit<br>
               <input class="mx-1" type="checkbox">Ergonomic<br>
               <input class="mx-1" type="checkbox">Foldable<br>
               <input class="mx-1" type="checkbox">Hotkeys and Media Keys<br>
               <input class="mx-1" type="checkbox">Lightweight<br>
               <input class="mx-1" type="checkbox">Rechargeable<br>
               <input class="mx-1" type="checkbox">Trackpad<br>
               <input class="mx-1" type="checkbox">Customizable Display Keys<br>
               <input class="mx-1" type="checkbox">Hot-Swappable<br>
               <input class="mx-1" type="checkbox">Integrated Stand<br>
               <input class="mx-1" type="checkbox">Low-Profile Key<br>
               <input class="mx-1" type="checkbox">Portable<br>
               <input class="mx-1" type="checkbox">Programmable Keys<br>
               <input class="mx-1" type="checkbox">Round Key<br>
               <input class="mx-1" type="checkbox">Spill Proof<br>
               <input class="mx-1" type="checkbox">Split Keyset Design<br>
               <h4 class="mt-4" style="font-weight: bolder;">Number of Keys</h4>
               <input class="mx-1"type="checkbox">Up to 70<br>
               <input class="mx-1"type="checkbox">71 to 81<br>
               <input class="mx-1"type="checkbox">82 to 92<br>
               <input class="mx-1" type="checkbox">93 & above<br>
               <h4  class="mt-4" style="font-weight: bolder;">Hand Orientation</h4>
               <input class="mx-1" type="checkbox">Ambidextrous<br>
               <input  class="mx-1" type="checkbox">Left<br>
               <input class="mx-1" type="checkbox">Right<br>
               <h4 class="mt-4" style="font-weight: bolder;">Made for Amazon Brands</h4>
               <input class="mx-1" type="checkbox">made for Amazon<br>
               <h4 class="mt-4" style="font-weight: bolder;">Pay on Delivery</h4>
               <input class="mx-1" type="checkbox">Eligible for pay On delivery<br>
               <h4 class="mt-4" style="font-weight: bolder;">New Arrivals</h4>
               <p><a href="">Last 30 days</a></p>
               <p><a href="">Last 90 days</a></p>
               <h4  style="font-weight: bolder;">New Arrivals</h4>
               <p><a href="">10% Off or more</a></p>
               <p><a href="">25px Off or more</a></p>
               <p><a href="">35% Off or more</a></p>
               <p><a href="">50% Off or more</a></p>
               <p><a href="">60% Off or more</a></p>
               <p><a href="">70% Off or more</a></p>

               <h4 style="font-weight: bolder;">Seller</h4>
             <input class="mx-1" type="checkbox">AmericanKart<br>
             <input class="mx-1" type="checkbox">LAPTECH SOLUTION<br>
             <input class="mx-1" type="checkbox">PoshACE-Tech<br>
             <input class="mx-1"type="checkbox">shop_worldwide<br>
             <input class="mx-1" type="checkbox">Cross_Border<br>
             <input class="mx-1" type="checkbox">pv online<br>
             <input class="mx-1" type="checkbox">BuyGlobal_Store<br>

             <h4 style="font-weight: bolder;">Availability</h4>
             <input class="mx-1" type="checkbox">Include Out of Stock<br>
             




             

             

         </div>
         
         
         <div class="col-sm-9"> 
            <!--  side part--> 
              <div class="d-flex border-bottom" style="width:1060px; height: 190px;">
                <div class="col-sm p-1">
                    <img src="\assets\img\wiredkeys1.jpg" width="320px" >
                </div>
                <div class="col-sm p-1">
                    <img src="\assets\img\wiredkeys2.jpg" width="320px">
                </div>
                <div class="col-sm p-1">
                    <img src="\assets\img\wiredkeys3.jpg" width="320px">
                </div>
              </div>

              <div class="row" style="width: 1060px;">
                <h4 class="display-5"  style="font-weight: bolder;">Hot New Releases
                    <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                   <div class="d-flex flex-row" style="height:300px ; ">
                    <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                        <img src="\assets\img\01.jpg" width="150px">
                        <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 

                            ZEBRONICS ZEB-KM2100 Multimedia USB Keyboa...
                            
                            ⭐⭐⭐⭐ 40,132</p>
                    </div>
                    <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                        <img src="\assets\img\02.jpg" width="150px">
                        <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 

                            Portronics Ki-Pad 3 USB Wired Keyboard with...

                                ⭐⭐⭐⭐ 387</p>
                    </div>
                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                        <img src="\assets\img\03.jpg" width="150px">
                        <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 

                            Portronics Ki-Pad 3 USB wired keyboard with...

                                 ⭐⭐⭐⭐ 387</p>
                    </div>
                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                        <img src="\assets\img\04.jpg" width="150px" >
                        <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 

                            LAPCARE D-Lite Plus wireles keyboard with...

                           ⭐⭐⭐⭐ 512</p>
                    </div>
                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                        <img src="\assets\img\05.jpg" width="150px" >
                        <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 

                            Amkette Optimus BT 4 in 1 wireless_keyboard2.4...

                       ⭐⭐⭐⭐ 274</p>
                    </div>
                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                        <img src="\assets\img\06.jpg" width="150px">
                        <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 

                            Portronics Ki-Pad 3 USB wired Keyboard with...

                     ⭐⭐⭐ 387</p>
                    </div>

                   </div>
                </div>
                <div class="row mt-3" style="width: 1060px;">
                    <h4 class="display-5"  style="font-weight: bolder;">Recommended for you
                        
                        <span style="color: rgb(35, 95, 148); font-size: xx-small;"></span></h4>
                       <div class="d-flex flex-row" style="height:300px ; ">
                        <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                            <img src="\assets\img\R11.jpg" width="150px">
                            <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
    
                                ZEBRONICS ZEB-KM2100 Multimedia USB Keyboa...
                                
                                ⭐⭐⭐⭐ 40,132</p>
                        </div>
                        <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                            <img src="\assets\img\R12.jpg" width="150px">
                            <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
    
                                Portronics Ki-Pad 3 USB Wired Keyboard with...
    
                                    ⭐⭐⭐⭐ 387</p>
                        </div>
                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                            <img src="\assets\img\R13.jpg" width="150px">
                            <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
    
                                Portronics Ki-Pad 3 USB wired keyboard with...
    
                                     ⭐⭐⭐⭐ 387</p>
                        </div>
                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                            <img src="\assets\img\R14.jpg" width="150px" >
                            <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
    
                                LAPCARE D-Lite Plus wireles keyboard with...
    
                               ⭐⭐⭐⭐ 512</p>
                        </div>
                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                            <img src="\assets\img\R15.jpg" width="150px" >
                            <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
    
                                Amkette Optimus BT 4 in 1 wireless_keyboard2.4...
    
                           ⭐⭐⭐⭐ 274</p>
                        </div>
                        
    
                       </div>
                    </div>
                    <div class="row mt-3" style="width: 1060px;">
                        <h4 class="display-5"  style="font-weight: bolder;">Most wished for
                            <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                           <div class="d-flex flex-row" style="height:300px ; ">
                            <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                <img src="\assets\img\m1.jpg" width="150px">
                                <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
        
                                    Logitech K400 Plus wireles Touch TV...

⭐⭐⭐⭐ 36,185</p>
                            </div>
                            <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                <img src="\assets\img\m2.jpg" width="150px">
                                <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
        
                                    Technotech Ultrathin wireless Bluetooth...

⭐⭐⭐⭐ 343</p>
                            </div>
                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                <img src="\assets\img\m3.jpg" width="150px">
                                <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
        
                                    TULMAN Magic Gel Cleaner for keyboard...

⭐⭐⭐ 1430</p>
                            </div>
                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                <img src="\assets\img\m4.jpg" width="150px" >
                                <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
        
                                    iBall Winner USB V2.0 keyboard soft feel keys,...

⭐⭐⭐⭐ 4,412</p>
                            </div>
                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                                <img src="\assets\img\m5.jpg" width="150px" >
                                <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
        
                                    Rii Mini keyboard wireles Touchpad Keyboard wit...

                                    ⭐⭐⭐⭐ 1,768</p>
                            </div>
                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                <img src="\assets\img\m6.jpg" width="150px">
                                <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 
        
                                    Cables Kart Super Clean High-Tech Cleaning...

                                    ⭐⭐⭐⭐ 380</p>
                            </div>
        
                           </div>
                        </div>
                        <div class="row mt-3" style="width: 1060px;">
                            <h4 class="display-5"  style="font-weight: bolder;">Under ₹1,000
                                <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                               <div class="d-flex flex-row" style="height:300px ; ">
                                <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                    <img src="\assets\img\u1.jpg" width="150px">
                                    <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
                                        Ant Value FKBRI01 Ultra-Slim Compact USB Wire...

                                        ⭐⭐⭐⭐ 1,676</p>
                                </div>
                                <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                    <img src="\assets\img\u2.jpg" width="150px">
                                    <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
            
                                        iVOOMi Finn wireles 2.4ghz/Dual BT keyboard,...

                                        ⭐⭐⭐⭐⭐ 9</p>
                                </div>
                                <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                    <img src="\assets\img\u3.jpg" width="150px">
                                    <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
            
                                        ColorCoral Keyboard Cleaner Universal HEPA...

                                       ⭐⭐⭐⭐ 53,007</p>
                                </div>
                                <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                    <img src="\assets\img\u4.jpg" width="150px" >
                                    <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
            
                                        Portronics Ki-Pad 3 USB wired keyboard with...

                                       ⭐⭐⭐⭐ 388</p>
                                </div>
                                <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                                    <img src="\assets\img\u5.jpg" width="150px" >
                                    <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
            
                                        ALTOO Heavy Duty Square Plastic keyboard...

                                     ⭐⭐⭐⭐⭐ 17</p>
                                </div>
                                <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                    <img src="\assets\img\u6.jpg" width="150px">
                                    <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 
            
                                        ProDot KB-207s USB wired Computer...

                                        ⭐⭐⭐ 6</p>
                                </div>
            
                               </div>
                            </div>
                            <div class="row mt-3" style="width: 1060px;">
                                <h4 class="display-5"  style="font-weight: bolder;">Top rated

                                    <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                                   <div class="d-flex flex-row" style="height:300px ; ">
                                    <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                        <img src="\assets\img\y11.jpg" width="150px">
                                        <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
                                            Ant Value FKBRI01 Ultra-Slim Compact USB Wire...
    
                                            ⭐⭐⭐⭐ 1,676</p>
                                    </div>
                                    <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                        <img src="\assets\img\y12.jpg" width="150px">
                                        <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
                
                                            iVOOMi Finn wireles 2.4ghz/Dual BT keyboard,...
    
                                            ⭐⭐⭐⭐⭐ 9</p>
                                    </div>
                                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                        <img src="\assets\img\y13.jpg" width="150px">
                                        <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                
                                            ColorCoral Keyboard Cleaner Universal HEPA...
    
                                           ⭐⭐⭐⭐ 53,007</p>
                                    </div>
                                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                        <img src="\assets\img\y14.jpg" width="150px" >
                                        <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
                
                                            Portronics Ki-Pad 3 USB wired keyboard with...
    
                                           ⭐⭐⭐⭐ 388</p>
                                    </div>
                                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                                        <img src="\assets\img\y15.jpg" width="150px" >
                                        <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
                
                                            ALTOO Heavy Duty Square Plastic keyboard...
    
                                         ⭐⭐⭐⭐⭐ 17</p>
                                    </div>
                                    <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                        <img src="\assets\img\y16.jpg" width="150px">
                                        <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                
                                            ProDot KB-207s USB wired Computer...
    
                                            ⭐⭐⭐ 6</p>
                                    </div>
                
                                   </div>
                                </div>

                                <div class="row mt-3" style="width: 1060px;">
                                    <h4 class="display-5"  style="font-weight: bolder;">Best sellers
    
                                        <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                                       <div class="d-flex flex-row" style="height:300px ; ">
                                        <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                            <img src="\assets\img\mo5.jpg" width="150px">
                                            <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
                                                Ant Value FKBRI01 Ultra-Slim Compact USB Wire...
        
                                                ⭐⭐⭐⭐ 1,676</p>
                                        </div>
                                        <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                            <img src="\assets\img\mo4.jpg" width="150px">
                                            <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
                    
                                                iVOOMi Finn wireles 2.4ghz/Dual BT keyboard,...
        
                                                ⭐⭐⭐⭐⭐ 9</p>
                                        </div>
                                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                            <img src="\assets\img\mo5.jpg" width="150px">
                                            <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                    
                                                ColorCoral Keyboard Cleaner Universal HEPA...
        
                                               ⭐⭐⭐⭐ 53,007</p>
                                        </div>
                                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                            <img src="\assets\img\mo2.jpg" width="150px" >
                                            <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
                    
                                                Portronics Ki-Pad 3 USB wired keyboard with...
        
                                               ⭐⭐⭐⭐ 388</p>
                                        </div>
                                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                                            <img src="\assets\img\mo3.jpg" width="150px" >
                                            <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
                    
                                                ALTOO Heavy Duty Square Plastic keyboard...
        
                                             ⭐⭐⭐⭐⭐ 17</p>
                                        </div>
                                        <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                            <img src="\assets\img\mo1.jpg" width="150px">
                                            <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                    
                                                ProDot KB-207s USB wired Computer...
        
                                                ⭐⭐⭐ 6</p>
                                        </div>
                    
                                       </div>
                                    </div>
                                    <div class="row" style="width: 1060px;">
                                        <h4 class="display-5"  style="font-weight: bolder;"> New Releases
                                            <span style="color: rgb(35, 95, 148); font-size: xx-small;">See more</span></h4>
                                           <div class="d-flex flex-row" style="height:300px ; ">
                                            <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                                <img src="\assets\img\06.jpg" width="150px">
                                                <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹699.00</span> 
                        
                                                    ZEBRONICS ZEB-KM2100 Multimedia USB Keyboa...
                                                    
                                                    ⭐⭐⭐⭐ 40,132</p>
                                            </div>
                                            <div class="col-sm-2   border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                                <img src="\assets\img\05.jpg" width="150px">
                                                <p><span style="font-weight:bolder  ;">₹499.00</span><span style="text-decoration: line-through;">₹599.00</span> 
                        
                                                    Portronics Ki-Pad 3 USB Wired Keyboard with...
                        
                                                        ⭐⭐⭐⭐ 387</p>
                                            </div>
                                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                                <img src="\assets\img\04.jpg" width="150px">
                                                <p><span style="font-weight:bolder  ;">₹299.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                        
                                                    Portronics Ki-Pad 3 USB wired keyboard with...
                        
                                                         ⭐⭐⭐⭐ 387</p>
                                            </div>
                                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                                <img src="\assets\img\03.jpg" width="150px" >
                                                <p><span style="font-weight:bolder  ;">₹999.00</span><span style="text-decoration: line-through;">₹1299.00</span> 
                        
                                                    LAPCARE D-Lite Plus wireles keyboard with...
                        
                                                   ⭐⭐⭐⭐ 512</p>
                                            </div>
                                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px; " >
                                                <img src="\assets\img\02.jpg" width="150px" >
                                                <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹299.00</span> 
                        
                                                    Amkette Optimus BT 4 in 1 wireless_keyboard2.4...
                        
                                               ⭐⭐⭐⭐ 274</p>
                                            </div>
                                            <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                                <img src="\assets\img\01.jpg" width="150px">
                                                <p><span style="font-weight:bolder  ;">₹199.00</span><span style="text-decoration: line-through;">₹399.00</span> 
                        
                                                    Portronics Ki-Pad 3 USB wired Keyboard with...
                        
                                             ⭐⭐⭐ 387</p>
                                            </div>
                        
                                           </div>
                                        </div>
                                        <div class="row mt-4" style="width: 1060px;">
                                           
                                               <div class="d-flex flex-row" style="height:fit-content ; ">
                                                <div class="col-sm-2 border border-3 mx-3" align="center" style="border-radius: 7px;">
                                                    <img src="\assets\img\06.jpg" width="150px">
                                                    <p style="color: rgb(149, 153, 153);">Sponsored</p>
                                                    <p style="font-weight:bolder ; font-size: small;"> Ducky One 3 TKL RGB Hot-Swap Mech Keyboard Cherry Red
                                                        <span style="color:goldenrod;">★★★★☆ </span>(6)</p>
                                                    <p><span style="font-weight:bolder  ; color: brown;">₹1499.00</span><span style="text-decoration: line-through; font-weight: bolder;">₹3699.00</span> 
                            
                                                       </p>
                                                       <p style="color: rgb(22, 139, 14); font-weight: bolder;">(45 %)</p>
                                                       <p style="color: rgb(149, 153, 153);">10% Off on select cards</p>
                                                       <p><img src="\assets\img\primeicon.png" width="70px">Get it by<span style="color: blue; font-weight: bolder;">
                                                        Thursday 7 November</span></p>
                                                </div>
                                                <div class="col-sm-2  border border-3 mx-3"  align="center" style="border-radius: 7px;">
                                                    <img src="\assets\img\05.jpg" width="150px">
                                                    <p style="color: rgb(149, 153, 153);">Sponsored</p>
                                                    <p style="font-weight:bolder; font-size: small; ">
                                                        Portronics Bubble Square Wireless Keyboard 
                                                        with Bluetooth + 2.4 GHz USB Receiver 
                                                        (Dual Connectivity),Pair 3 Devices Max, Multimedia
                                                         Hotkeys, for...
                                                        <span style="color:goldenrod;">★★★★☆ </span>(6)</p>
                                                    <p><span style="font-weight:bolder  ; color: brown;">₹14099.00</span><span style="text-decoration: line-through; font-weight: bolder;">₹20699.00</span> 
                            
                                                       </p>
                                                       <p style="color: rgb(22, 139, 14); font-weight: bolder;">(45 %)</p>
                                                       <p style="color: rgb(149, 153, 153);">10% Off on select cards</p>
                                                       <p><img src="\assets\img\primeicon.png" width="70px">Get it by<span style="color: blue; font-weight: bolder;">
                                                        Monday 7 December</span></p>
                                                    
                                                </div>
                                                <div class="col-sm-2 border border-3 mx-3"  align="center"  style="border-radius: 7px;">
                                                    <img src="\assets\img\04.jpg" width="150px">
                                                    <p style="color: rgb(149, 153, 153);">Sponsored</p>
                                                    <p style="font-weight:bolder; font-size: small; ">
                                                        Zebronics ZEB-KM2100 Multimedia USB Keyboard 
                                                        Comes with 114 Keys Including 12 Dedicated 
                                                        Multimedia Keys & with Rupee Key
                                                        <span style="color:goldenrod;">★★★★☆ </span>(6)</p>
                                                    <p><span style="font-weight:bolder  ; color: brown;">₹14099.00</span><span style="text-decoration: line-through; font-weight: bolder;">₹20699.00</span> 
                            
                                                       </p>
                                                       <p style="color: rgb(22, 139, 14); font-weight: bolder;">(45 %)</p>
                                                       <p style="color: rgb(149, 153, 153);">10% Off on select cards</p>
                                                       <p><img src="\assets\img\primeicon.png" width="70px">Get it by<span style="color: blue; font-weight: bolder;">
                                                        Saturday 7 January</span></p>
                                                </div>
                                               
                                                
                            
                                               </div>
                                            </div>
                
            
             
           
             
           </div>
          </div>
      <div class="row mt-5 " style="width: 1240px;" align="center">
        <div class="col-sm-12">
          <h1 style="font-size: 35px; font-weight: bolder;width: 1240px;">Buy the Best Electronic Products Online at Amazon.in</h1>
           <p style="width: 1240px;">
            Are you searching for the latest and most advanced electronics that meet 
            your personal, professional, or entertainment needs? Look no further than
             Amazon India, where we offer a vast range of electronics at competitive 
             prices. Whether you're in need of headphones, smartwatches, computer 
             accessories,or musical instruments, we have a product to suit your needs.
           </p>
           <p style="width: 1240px;">
            At Amazon India, we pride ourselves on bringing you the best selection 
            of high-quality electronics from renowned brands, all at your fingertips.
             Explore the latest innovations in technology with a comprehensive list of
              gadgets that cater to your lifestyle and enhance your experience. Whether
               you are a tech enthusiast, a musician, a photographer, or a professional 
               seeking the best productivity tools, Amazon has it all.
           </p>
           <h1  class="mt-5" style="font-size: 30px; font-weight: bolder;width: 1240px;">Explore a Wide Range of Electronics</h1>
             <p style="width: 1240px;">
              Amazon India's electronics section offers a diverse range of products designed to meet the unique requirements
               of every individual. Whether you're after cutting-edge headphones, durable 
               smartwatches, or reliable computer accessories, our selection ensures that 
               you'll find exactly what you need to stay connected, entertained, and
                efficient. Let's take a closer look at some popular categories available 
                on Amazon India:
             </p>
             <h1 style="font-weight: bolder;width: 1240px;">Headphones</h1>
             <p style="width: 1240px;">
              Headphones have become an essential accessory for both leisure and work.
               Whether you're looking for immersive sound during your workout or a
                noise-canceling headset for your work calls, Amazon India has a wide
                 variety of headphones to suit your needs. From wired to wireless,
                  over-ear to in-ear, we offer options that ensure comfort, quality, 
                  and top-tier sound. Explore headphones from leading brands like Bose,
                   Sony, and Sennheiser, each providing powerful sound, durability, and 
                   long battery life for a seamless audio experience.
             </p>
             <h1 style="font-weight: bolder;width: 1240px;">Smartwatches</h1>
             <p style="width: 1240px;">Keep track of your fitness goals, stay connected, and elevate your
               style with our extensive range of smartwatches. At Amazon India, we
                offer smartwatches designed to complement every lifestyle. Whether
                 you're into fitness tracking, need reminders, or simply want an 
                 extension of your smartphone on your wrist, our smartwatches combine
                  functionality and aesthetics effortlessly. Brands like Apple, Samsung,
                   and more lead the charge with their innovative technology that
                    includes heart rate monitors, GPS tracking, and customizable watch
                     faces. Discover the right smartwatch that syncs with your 
                     routine and personal style.</p>
                     <h1 style="font-weight: bolder;width: 1240px;">Computer Accessories</h1>
                     <p style="width: 1240px;">Maximize your productivity with Amazon India's comprehensive collection
                       of computer accessories. Whether you're setting up a home office, enhancing
                        your gaming experience, or simply upgrading your workstation, we offer an
                         array of accessories such as keyboards, mice, hard drives, USB hubs, 
                         cooling pads & many more. Explore products from trusted brands, all 
                         designed to improve the functionality of your computer setup. Our 
                         computer accessories are essential for both personal and professional
                          use, ensuring seamless operation for tasks of all kinds.
                        </p>
                        <h1 style="font-weight: bolder;width: 1240px;">Speakers</h1>
                        <p style="width: 1240px;">
                          Fill your home with premium sound by choosing from 
                          Amazon India's selection of speakers. From portable
                           Bluetooth speakers for outdoor adventures to high-end
                            home theatre systems for a cinematic experience, we
                             offer products that deliver crisp, clear sound for
                              every occasion. Enjoy speakers from leading brands
                               such as JBL, Sony, and Bose, each designed to provide
                                immersive audio with powerful bass and superior 
                                clarity. Whether it's for a party, a movie night,
                                 or casual music listening, our speakers guarantee
                                  exceptional sound quality.
                        </p>
                        <h1 style="font-weight: bolder;width: 1240px;">Musical Instruments</h1>
                        <p style="width: 1240px;">Discover your musical passion or enhance your skills with our collection of musical instruments. Whether you're a beginner or a seasoned professional, Amazon India offers a wide array of instruments that cater to various musical genres. Shop for guitars, keyboards, drums, and other instruments from renowned brands. Additionally, we provide a range of accessories including amplifiers, cases, and tuners to complete your setup. Let your musical creativity soar with Amazon's carefully curated collection.</p>
                        <h1 style="font-weight: bolder;width: 1240px;">Storage Solutions</h1>
                        <p style="width: 1240px;">Efficiently manage your digital files with our extensive range of storage devices. Whether you need a portable external hard drive, a high-speed USB flash drive, or a reliable memory card, Amazon India has the perfect solution for your storage needs. From trusted brands, you'll find storage devices that offer speed, security, and ample space. Whether for work, entertainment, or personal use, our storage solutions are designed to safeguard your data and make transferring files easier than ever.</p>
                        <h1 style="font-weight: bolder;width: 1240px;">Networking Devices</h1>
                        <p style="width: 1240px;">
                          Stay connected with Amazon India's range of networking devices,
                           designed to provide reliable and high-speed internet access.
                            From routers, modems, and Wi-Fi extenders to networking cables
                             and adapters, we offer a wide selection of products that 
                             ensure strong and stable connections. Brands like TP-Link,
                              Netgear, and D-Link lead the way with innovative solutions
                               for homes and offices, ensuring you stay connected to 
                               the digital world with ease and efficiency. Whether
                                for work, gaming, or streaming, our networking 
                                devices enhance your internet experience with 
                                seamless connectivity.
                        </p>
                        <h1  class="mt-5" style="font-size: 30px; font-weight: bolder;width: 1240px;">Shop Top Electronics Brands at Best Price in India</h1>
                        <p style="width: 1240px;">At Amazon India, we take pride in offering products from some of the world's most trusted and renowned electronics brands.
                           Whether you're searching for premium headphones, innovative smartwatches, or advanced storage solutions, our catalog includes
                            brands that are celebrated for their quality, innovation, and reliability.</p>
                        <ul style="width: 1240px;">
                          <li>Sony: Known for its advanced audio and visual products, 
                            Sony delivers cutting-edge technology in headphones, speakers, cameras, and more.</li>
                          <li>Apple: Famous for its iconic products like the Apple Watch, iPhones, and MacBooks,
                             Apple continues to push the boundaries of technology and design.</li>
                          <li>Samsung: From smartwatches to storage devices, Samsung offers a diverse range of
                             electronics that combine style with functionality.</li>
                          <li>Bose: Renowned for its speakers and headphones, Bose delivers exceptional 
                            sound quality that transforms your listening experience.</li>
                          <li>Logitech: Trusted for its computer accessories, Logitech provides high-performance
                             keyboards, mice, and webcams to boost your productivity.</li>
                          <li>Canon & Nikon: For photography enthusiasts, Canon and Nikon offer top-of-the-line 
                            cameras and accessories that capture high-quality images and videos.</li>
                        </ul>
                            <p style="width: 1240px;">These are just a few of the many brands that you'll find on Amazon India's electronics page. No matter what your electronics needs are, you can shop with confidence 
                              knowing that you're getting the best products from industry leaders.</p>
                              <h1  class="mt-5" style="font-size: 25px; font-weight: bolder;width: 1240px;">Discover Exclusive Deals and Offers</h1>
                              <p style="width: 1240px;">Amazon India offers exclusive deals, discounts, and lightning sales on
                                 various electronics, making it easy for you to find the best value for
                                  your money. From festive sales to daily discounts, our offers ensure that
                                   you can access premium electronics at unbeatable prices. Be sure to check 
                                   back frequently for new deals on headphones, smartwatches, storage 
                                   devices, and more. With fast shipping and easy returns, Amazon India
                                    ensures that your shopping experience is smooth and hassle-free. 
                                    Dive into the world of electronics with Amazon and stay connected, entertained, and productive.</p>
                                    <h1  class="mt-5" style="font-size: 25px; font-weight: bolder;width: 1240px;">Frequently Asked Questions (FAQs) - Electronics</h1>
                                    <h1  style="font-size: 20px; font-weight: bolder;width: 1240px;">1. What are the best headphones available on Amazon India?</h1>
                                    <p style="width: 1240px;">Some of the best headphones on Amazon India include top brands like Sony, Bose, and many more, offering features like noise-cancellation,
                                       wireless connectivity, and superior sound quality.</p>
                                       <h1  style="font-size: 20px; font-weight: bolder;width: 1240px;">2. What are the must-have computer accessories for a home office setup?</h1> 
                                       <p style="width: 1240px;">Essential computer accessories for a home office include ergonomic keyboards, wireless mice, external hard drives, USB hubs, and webcams.</p> 
                                       <h1  style="font-size: 20px; font-weight: bolder;width: 1240px;">3. Which speakers provide the best sound quality for home entertainment?</h1>
                                  <p style="width: 1240px;">For home entertainment, speakers from brands like Bose, Sony, and JBL offer excellent sound quality, with features like Bluetooth connectivity and deep bass.</p>
                                  <h1  style="font-size: 20px; font-weight: bolder;width: 1240px;">4. What should I consider when buying a smartwatch?</h1>
                                  <p style="width: 1240px;">When choosing a smartwatch, consider features like fitness tracking, battery life, compatibility with your smartphone, and whether it has additional features like GPS, heart rate monitoring, or water resistance.</p>
                                  <h1  style="font-size: 20px; font-weight: bolder;width: 1240px;">5. How can I enhance my home audio system?</h1>
                                  <p style="width: 1240px;">To improve your home audio system, consider adding speakers that provide surround sound, and a subwoofer for deeper bass.</p>
                                </div>
      </div>
    </div>


