<div class="container-fluid">
    <div class="row">
        
        
        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Mobile,Tablets & More</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All Mobile Phones</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">All Mobile Accessories</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Cases & Covers</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Screen Protecters</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Power Banks</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Refurbished & Open Box</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Tarblets</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Wearable Devices</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Smart Home</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Office Supplies & Stationery</h6></div>
      

        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Computers & Accessories</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All Computers & Accessories</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Laptops</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Drives & Storage</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Printers & Ink</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Networking Devices</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Computer Accessories</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Game Zone</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Monitors</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Desktops</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Components</h6></div>

    
    </div>
</div>

