<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Mobiles</h4> 
         <h4>Mobile accessories</h4>
          <p><a>Cases & Covers</a></p>
            <p><a >Screen guards</a></p>
              <p><a>Power Banks</a></p>
                  <p><a>Headsets</a></p>
                <p><a>Data Cables</a></p>
                <p><a>Chargers</a></p>
               <p><a>Selfie Sticks</a></p>
               <p><a>Skin Stickers</a></p>
                <p><a>Internal Batteries</a></p>
                 <p><a>Mounts & Stands</a></p>
                  <p><a>Lens Kits</a></p>
                  <p><a>Replacement Parts</a></p>

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Mobile brands</h4> 
       
          <p><a>Samsung</a></p>
            <p><a >Nokia</a></p>
              <p><a>Apple</a></p>
                  <p><a>Huawai</a></p>
                <p><a>Honor</a></p>
                <p><a>Vivo</a></p>
               <p><a>Oneplus</a></p>
               <p><a>Coolpad</a></p>
                <p><a>Micromax</a></p>
                 <p><a>Motorala</a></p>
                  <p><a>Mi</a></p>
                  <p><a>10.or</a></p>

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">accessories brands</h4> 
       
          <p><a>Boat</a></p>
            <p><a >Lenovo</a></p>
              <p><a>Spigen</a></p>
                  <p><a>Jabra</a></p>
                <p><a>Syska</a></p>
                <p><a>Vivo</a></p>
               <p><a>Oneplus</a></p>
               <p><a>Amazon basics</a></p>
                <p><a>Micromax</a></p>
                 <p><a>Apple</a></p>
                  <p><a>Mivi</a></p>
                  <p><a>ivolta</a></p>

            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob1.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob2.jpg" height="300px">
        </div>
        
    </div>

</div>
