p{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: rgb(21, 21, 21);
    font-size: small;
}
a:hover{
    color: rgb(205, 159, 34);
    text-decoration: underline;
}