<div class="container-fluid">
    <div class="row mx-auto ">
        <div class="col-sm-6 mt-2" >
        <img src="\assets\img\amazon1.jpeg" width="700px">
        </div>
        <div class="col-sm-6 mt-2 " style="background-color: rgb(41, 59, 74);">
            <div class="row">
                <div class="col-sm-12 mt-5 mx-4">
                    <img src="\assets\img\whiteamazon.png" width="180px" >
                 </div>
                 <div class="col-sm-12">
                    <h2 class="mx-4 mt-3 text-light" style="font-size: 35px;">Welcome to Prime</h2>
                 </div>
                 <div class="col-sm-12">
                    <h2 class="mx-4 mt-3 text-light" style="font-size:larger;">Prime members enjoy unlimited free, fast delivery on eligible items, video streaming, ad-free music,
                         free games, exclusive access to deals & more.</h2>
                 </div>
                 <div class="col-sm-12">
                    <button class="btn mx-2" style="background-color: rgb(232, 176, 10); font-size: larger;">login to prime</button>
                 </div>
                 <div class="col-sm-12 mt-5 text-light">
                    <p>
                        You cannot pay on delivery for your Prime membership. By signing up for a Prime membership,agree to the <a href=""> Amazon Prime Terms and Conditions.</a> agree to the Amazon Prime Terms and Conditions.
                    </p>
                 </div>
                </div>

        </div>

    </div>
    <div class="row mt-5 ">
        <div class="col-sm-12 " align="center">
            <p style="font-size: 49px; font-family: serif;">Enjoy these benefits with Prime</p>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-sm-6 " >
            <img class="mx-5" src="\assets\img\prime1.jpg" width="500px">
        </div>
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">Unlimited FREE Same-day, 1-day delivery</h1></div>
                <div class="col-sm-12"><p class="mt-3" style="font-size: 20px; color: rgb(165, 165, 165);">
                    Why pay more for fast delivery every time you need
                     an item quickly? As a Prime member, get unlimited
                      FREE Same-Day, 1-Day & 2-Day Delivery on eligible 
                      items from India’s largest online store, to over a
                       hundred cities. Prime items that are not eligible 
                       for free Same-Day or 1-Day Delivery to your location,
                        will always qualify for free Standard Delivery with 
                        no minimum purchase value. The fastest, free Prime
                         delivery speed available for an item will be shown
                          on the product page. &nbsp;

                  Get Same-Day Delivery to eligible pin-codes in Delhi,
                  Mumbai, Bangalore & Hyderabad via the Prime Now App.
                </p></div>
            </div>
            
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-sm-6 " >
            <img class="mx-5"src="\assets\img\prime2.jpg" width="500px">
        </div>
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">prime video</h1></div>
                <div class="col-sm-12"><p class="mt-3" style="font-size: 20px; color: rgb(165, 165, 165);">
                    With your Prime membership, you have access to the latest 
                    and exclusive Bollywood and regional blockbusters such as 
                    Kantara, Jugjugg Jeeyo, Ram Setu and Hollywood movies like
                     Batman, Fast & Furious 9. You can also binge watch US TV
                      shows like Young Sheldon, Suits and exclusive access to
                       Prime Original Series Comicstaan, Breathe and Reacher.

                    Access Prime Video anywhere: on the go or in the comfort
                     of your living room. Watch on your Android or iOS phone,
                      tablet, laptop, desktop, or smart TV.
                </p></div>
            </div>
            
        </div>
    </div>
   
    <div class="row mt-5 ">
        <div class="col-sm-6 " >
            <img class="mx-5"src="\assets\img\prime4.jpg" width="500px">
        </div>
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">Prime Gaming</h1></div>
                <div class="col-sm-12"><p class="mt-3" style="font-size: 20px;color: rgb(165, 165, 165);">
                    Get free downloadable games every month and explore an evolving set 
                    of additional gaming benefits like daily challenges and more.
                </p></div>
            </div>
            
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-sm-6 " >
            <img class="mx-5"src="\assets\img\prime5.png" width="500px">
        </div>
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">
                    Unlimited 5% cashback</h1></div>
                <div class="col-sm-12"><p class="mt-3" style="font-size: 20px; color: rgb(165, 165, 165);">
                    Eligible Prime members earn unlimited 5% cashback on all 
                    purchases on Amazon.in using the Amazon Pay ICICI Bank 
                    credit card. You can also earn unlimited 2% cashback on
                     payments at 100+ Amazon Pay partner merchants and 1% 
                     cashback on all other payments (except fuel purchases).
                      Currently available in 35 cities across India.
                </p></div>
            </div>
            
        </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-sm-6 " >
                <img class="mx-5"src="\assets\img\prime6.png" width="500px">
            </div>
            <div class="col-sm-6 ">
                <div class="row">
                    <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">
                        Prime Reading</h1></div>
                    <div class="col-sm-12"><p class="mt-3" style="font-size: 20px;color: rgb(165, 165, 165);">
                        Read as much as you want from hundreds of eligible eBooks, 
                        comics and more. With a catalogue across literature and fiction,
                         quick reads, romance, non-fiction, and eBooks in Indian 
                         languages, you will always find something to read.

                      You can enjoy Prime Reading on your Kindle E-reader, or
                       install the free Kindle reading apps on mobile, tablet,
                        PC or Mac. You can also try Prime Reading on the 2MB
                         Kindle Lite Android app designed for Indian readers.
                    </p></div>
                </div>
                
            </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-sm-6 " >
                    <img class="mx-5"src="\assets\img\prime7.jpg" width="500px">
                </div>
                <div class="col-sm-6 ">
                    
                        <div class="col-sm-12"><h1 style="font-family: serif;font-size: 35px;">
                             Prime </h1></div>
                        <div class="col-sm-12 "><p class="mt-4" style="font-size: 20px; color: rgb(165, 165, 165);">
                            Items eligible for Prime delivery benefits (free One-Day, Two-Day and Standard Delivery) are clearly marked. Just look for  next to products when you search. Choose the Prime logo filter to view Prime items only.

              As a Prime member, you can update your delivery pin-code on product
               pages to see the fastest, free delivery option next to the Prime 
               logo. You can see all Prime delivery options available for your
                order at Checkout.


              Prime offers a safe and convenient shopping experience on  items 
              and items fulfilled by qualified sellers who meet our high delivery
               performance standards.


                        </p></div>
                    </div>
                    <hr style="border: 5px solid black;">
                </div>
            
        

</div>
