#select:hover{
   border-style: solid;
   background-color: rgb(236, 231, 231);
  
   
}
input[type="search"]:hover{
   
   
    outline: 0px;

}
input[type="search"]{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
 width: 98%;
 height: 50px;
 

}
#search:hover{
    background-color: beige;
    
}
ul{
    list-style-type: none;
}
ul li a{
    color:rgb(5, 5, 5);
    font-weight: light;
    text-decoration: none;
    
   
}

    

ul li a:hover{
    color:rgb(227, 136, 9);
    text-decoration: underline;
   
}

