<div class="container-fluid">
    <div class="row  mt-5">
        <div class="col-sm-8 bg-warning m-auto " style="height: 62px; border-radius: 10px;">
         <div class="row">
            <div class="col-sm-11 mt-1 m-auto" style="background-color: aliceblue;">
                <p class="mt-0"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;You can view the content of this page in your preferred language, by clicking here. For detailed steps on how to change your language settings, see our Help page</p>
            </div>
         </div>
        </div>
    </div>
    <div class="row  mt-3">
        <div class="col-sm-8 bg-warning m-auto " style="height: 62px; border-radius: 10px;">
         <div class="row">
            <div class="col-sm-11 mt-1 m-auto " style="background-color: aliceblue;">
                <p class="mt-0"> <i class="fas fa-exclamation-triangle"></i> &nbsp;&nbsp;For information on our live sale events, including promotions, deals, cashbacks, and quick solutions, refer to our Help page on Sale Events.</p>
            </div>
         </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 mt-5" align="center">
            <h1 style="font-family: serif;">Hello. What can we help you with?</h1>
        </div>
        <hr style="border: 3px solid black;">
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <h1 class="mx-5" style="font-size: xx-large; font-family: serif;">
                
          Some things you can do here  
            </h1>
        </div>
        <div class="row">
            <div id="select" class="col-sm-3 m-auto border " style="height: 190px ;border-radius: 15px; ">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box1.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-5">Your Order</h1>
                    <p>Track Packages Edit or Cancel Orders</p>
                </div>
            </div>
            </div>
            <div id="select"  class="col-sm-3 m-auto  border " style="height: 190px ;border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box2.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-4">Returns and Refunds</h1>
                    <p>Return or exchange items Print return mailing label</p>
                </div>
            </div>
            </div>
            <div id="select" class="col-sm-3 m-auto border" style="height: 190px ;border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box3.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-4">Manage Addresses</h1>
                    <p>Update your addresses Add address,landmark details</p>
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-5">
            <div id="select"  class="col-sm-3 m-auto border" style="height: 190px ;border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box4.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-5">Manage Prime</h1>
                    <p>View your benefits membership details</p>
                </div>
            </div>
            </div>
            <div id="select"  class="col-sm-3 m-auto  border" style="height: 190px ;border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box5.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-5">Payment Setting</h1>
                    <p>Add or edit payment methods change expired debit card or credit card</p>
                </div>
            </div>
            </div>
            <div  id="select" class="col-sm-3 m-auto border" style="height: 190px ;border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box6.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-4">Account Settings</h1>
                    <p>Change your email or password Update login information</p>
                </div>
            </div>
            </div>
            
        </div>
        <div class="row mt-5" style="height: 200px;">
            
           
            <div  id="select" class="col-sm-3 mx-5 border" style="height: 190px ; border-radius: 15px;">
                <div class="row">
                    <div class="col-sm-4"><img class="mt-5" src="\assets\img\box7.png" width="80px"></div>
                    <div class="col-sm-8"><h1 class="mt-2">Digital Service and Device Support</h1>
                    <p>Find device help and support Troubleshoot device issues</p>
                </div>
            </div>
            </div>
            
        </div>
         
    </div>
    <hr style="border: 2px solid black;">
    <div class="row mt-4">
        <div class="col-sm-12 mb-5" height="100px" width="60%">
            <p style="text-align: center; font-family: serif; font-size: xx-large;" >Find more solutions   Type something like, "question about a charge"</p>
            <form>
                <i class="fas fa-search z-0 position-absolute mt-3" style="margin-left: 270px;"></i>
                <div id="search" class="col-sm-7 mx-auto border  z-n1 " style=" height:50px ; border:2px solid black;border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;">
                    
                    <input type="search" class=" mx-5" placeholder="" >
                </div>
                
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <p class="mx-5 mb-5" style="font-size: 40px;">Browse Help Topics</p>
        </div>
        <div class="row">
            <div class="col-sm-3 mx-5 bg-light " style="height: fit-content; border-radius: 10px;" >
                <div>
                    <ul class=" mt-5 mx-3">
                        <li class="p-3" style="font-size: larger;"> <a (click)="filterByCategory('recommended')">Recommended Topics</a></li>
                        <li class="p-3" style="font-size: larger;"><a  (click)="filterByCategory('shipping')">Shipping & Delivery</a></li>
                        <li class="p-3" style="font-size: larger;"><a  (click)="filterByCategory('payment')">Payment & Pricing</a></li>
                        <li class="p-3" style="font-size: larger;"> <a  (click)="filterByCategory('managing')">Managing your account</a></li>
                        <li class="p-3" style="font-size: larger;"><a  (click)="filterByCategory('othertopics')">Other Topics</a></li>
                        <li class="p-3" style="font-size: larger;">
                            <a  (click)="filterByCategory('morehelp')">More Help(D25)</a></li>
                        <li class="p-3" style="font-size: larger;"><a  (click)="filterByCategory('selfservice')">Self Service</a></li>
                    </ul>
                   
                    
                     
                   
                    
                    

                    
                  </div>
                  
                  
            </div>

            <div class="col-sm-4 ">
                <!-- <div style="border-left: 1px solid black; height: 500px"></div> -->
                <ul class="mt-5">
                    <li *ngFor="let item of filteredData">
                     <a href="">{{ item.name }} </a> 
                      
                    </li>
                  </ul>
            </div>
            <div class="col-sm-4">
                <ul class="mt-5">
                    <li *ngFor="let item of filteredData">
                     <a href="">{{ item.name1 }} </a> 
                      
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
