<div class="container-fluid" style="background-color: rgb(165, 165, 166);">
    <div class="row" style="height: 70px;background-color: aliceblue;">
        <div class="col-sm-2" >
            <img src="\assets\img\amazon.png" style="width:80px ;"><span style="font-size: x-large;">pay</span>
        </div>
    </div>
    <div class="row mt-4 ">
        <div class="col-sm-3 mx-auto" style="background-color: aliceblue; height: 150px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                    <div class="col-sm-8 mt-2">     <p style=" font-weight: bolder;">Amazon pay Balance</p> </div>
                    <div class="col-sm-2 mt-2"><span style="color: rgb(133, 227, 142);">$0.00</span></div>
                    <hr>
                   
                    </div>
                    <div class="row">
                        <div class="col-sm mt-12"><i class="fa-solid fa-plus mx-1"></i><a href="">Add Money</a></div>
                        <div class="col-sm-12"><i class="fa-solid fa-gift mx-1"></i><a href="">Add Gift Card</a></div>
                        <div class="col-sm-12"><i class="fa-solid fa-gear mx-1"></i><a href="">Account Settings</a></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-8 mx-auto  " style="background-color: aliceblue; font-weight: bolder;border-radius: 15px;"><p class="mt-3">Recharge</p>
           <div class="row d-sm-flex flex-row">
            <div class="col-sm mx-4" id="option"><img src="\assets\img\phone-battery-charging.png" width="40px">
              <p > Mobile Recharge</p>
            </div>
            <div class="col-sm" id="option"><img src="\assets\img\apple.png" width="40px">
                <p > App Store Code</p>
            </div>
            <div class="col-sm" id="option"><img src="\assets\img\plug-cable.png" width="40px">
             <p>DTH Recharge</p>
            </div>
            <div class="col-sm" id="option"><img src="\assets\img\google-play.png" width="40px">
              <p>Google Play Recharge</p>
            </div>
            <div class="col-sm" id="option"><img src="\assets\img\music.png" width="40px">
            <p>Subscription</p>
            </div>
            <div class="col-sm" id="option"><img src="\assets\img\toll-road.png" width="40px">
            <p>Buy FASTTag</p>
            </div>
            

            

           </div>
        </div>

        <div class="col-sm-8  mt-4 " style="background-color: aliceblue; font-weight: bolder; margin-left:400px; height: 350px;border-radius: 15px;"><p class="mt-3">Bill Payment</p>
            <div class="row d-sm-flex flex-row mt-5">
             <div class="col-sm" id="option">
                <img src="\assets\img\p1.png" width="40px">
                <p>Electricity</p>
            </div>
             <div class="col-sm" id="option">
                <img src="\assets\img\p2.png" width="40px">
                <p>Mobile Postpaid</p>
             </div>
             <div class="col-sm" id="option">
                <img src="\assets\img\p3.png" width="40px">
                <p>Credit Card Bill</p>
             </div>
             <div class="col-sm"id="option">
                <img src="\assets\img\p4.png" width="40px">
                <p>Loan Repayment</p>
             </div>
             <div class="col-sm" id="option">
                <img src="\assets\img\p5.png" width="40px">
                <p>Gas Cylinder</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\p6.png" width="40px">
                <p>Insurance Premium</p></div>
             <div class="col-sm" id="option"><img src="\assets\img\p7.png" width="40px">
                <p>Piped Gas</p></div>
            </div>
            <div class="row d-sm-flex flex-row mt-5">
                <div class="col-sm" id="option"><img src="\assets\img\p8.png" width="40px">
                    <p>Water Bill</p></div>
                <div class="col-sm" id="option"><img src="\assets\img\p9.png" width="40px">
                    <p>Landline</p></div>
                <div class="col-sm" id="option"><img src="\assets\img\p10.png" width="40px">
                    <p>Broadband</p></div>
                <div class="col-sm" id="option"><img src="\assets\img\p11.png" width="40px">
                    <p>Municipal Tax</p></div>
                <div class="col-sm" id="option"><img src="\assets\img\p12.png" width="40px">
                    <p>Subscription</p></div>
                <div class="col-sm" id="option"><img src="\assets\img\p13.png" width="40px">
                    <p>Cable TV</p></div>
                <div class="col-sm" id="option">
                    <img src="\assets\img\p14.png" width="40px">
                    <p>Education Fees</p>
                </div>
               </div>
         </div>
         <div class="col-sm-8 mt-4  " style="background-color: aliceblue; font-weight: bolder; margin-left:400px; border-radius: 15px;" ><p class="mt-3">Travel and Insurance</p>
            <div class="row d-sm-flex flex-row">
             <div class="col-sm-2 mx-4" id="option"><img src="\assets\img\t1.png" width="40px">
               <p >Flight</p>
             </div>
             <div class="col-sm-2" id="option"><img src="\assets\img\t2.png" width="40px">
                 <p>Bus Tickets</p>
             </div>
             <div class="col-sm-2" id="option"><img src="\assets\img\t3.png" width="40px">
              <p>Train</p>
             </div>
             
             
 
             
 
            </div>
         </div>

         <div class="col-sm-8 mt-4  " style="background-color: aliceblue; font-weight: bolder; margin-left:400px; border-radius: 15px;" ><p class="mt-3"> Insurance (amazonpayinsurance.in)</p>
            <div class="row d-sm-flex flex-row">
             <div class="col-sm-2 mx-4" id="option"><img src="\assets\img\c1.png" width="40px">
               <p >Car Insurance</p>
             </div>
             <div class="col-sm-2" id="option"><img src="\assets\img\c2.png" width="40px">
                 <p>Bike Insurance</p>
             </div>
             </div>
         </div>
         <div class="col-sm-8   mt-4"  style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;"><p class="mt-3">Gift & Vouchers</p>
            <div class="row d-sm-flex flex-row">
             <div class="col-sm mx-4" id="option"><img src="\assets\img\x1.png" width="40px">
               <p> Add Gift Card</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x2.png" width="40px">
                 <p >Gift Card</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x3.png" width="40px">
              <p>Amazon Vouchers</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x4.png" width="40px">
               <p>Brand Vouchers</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x5.png" width="40px">
             <p>Birthday Giftcards</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x6.png" width="40px">
             <p>Wedding Giftcards</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\x7.png" width="40px">
                <p>Corporate Gifting</p>
                </div>
             
 
             
 
            </div>
         </div>
         <div class="col-sm-8   mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;"><p class="mt-3">Manage</p>
            <div class="row d-sm-flex flex-row">
             <div class="col-sm mx-4" id="option"><img src="\assets\img\z1.png" width="40px">
               <p> Your Transactions</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\z2.png" width="40px">
                 <p >Rewards</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\z3.png" width="40px">
              <p>Donate</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\z4.png" width="40px">
               <p>Check EMI Option</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\z5.png" width="40px">
             <p>Your Saved Cards</p>
             </div>
             <div class="col-sm" id="option"><img src="\assets\img\z6.png" width="40px">
             <p>Help and FAQ</p>
             </div>
             
             
 
             
 
            </div>
         </div>
         <div id="amazon" class="col-sm-8   mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;">
            
            <img src="\assets\img\amazonpay1.jpg">
            
         </div>
         <div id="amazon" class="col-sm-8   mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;">
            
            <img src="\assets\img\amazonpay12.jpg">
            
         </div>
         <div  id="amazon" class="col-sm-8   mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;">
            
            <img src="\assets\img\amazonpay13.jpg">
            
         </div>
         <div id="amazon" class="col-sm-8   mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px;">
            
            <img src="\assets\img\amazonpay14.jpg">
            
         </div>
         <div id="amazon" class="col-sm-8 mb-4  mt-4" style="background-color: aliceblue; font-weight: bolder;margin-left:400px; border-radius: 15px; ">
            
            <img src="\assets\img\amazonpay15.jpg">
            
         </div>
        <!-- <div class="row mt-4 m-auto"  >
            <div class="col-sm-8 mt- " style="height:150px; background-color: aliceblue; margin-left:380px ;">
                <div class="row d-sm-flex flex-row">
                    <div class="col-sm"><i class="fa-solid fa-mobile-screen mx-1"></i></div>
                    <div class="col-sm">iy</div>
                    <div class="col-sm">io</div>
                    <div class="col-sm">po</div>
                    <div class="col-sm">lk</div>
        
            </div>
            </div>
            
        

    </div> -->
</div>
