<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Cameras</h4> 
         
          <p><a>Digital SLRs</a></p>
            <p><a >Point & shoot</a></p>
              <p><a>Mirrorless cameras</a></p>
                  <p><a>Camcorders</a></p>
                <p><a>Camera lenses</a></p>
                <p><a>Action cameras</a></p>
               <p><a>Surveillance &  security cameras</a></p>
               <p><a>360 degree cameras</a></p>
                <p><a>Spy cameras</a></p>
                 

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Cameras accessories</h4> 
       
          <p><a>Camera cases & bags</a></p>
            <p><a >Tripod & monopods</a></p>
              <p><a>Protector</a></p>
                  <p><a>Batteries</a></p>
                <p><a>Photo studio & lighting</a></p>
                <p><a>Flash accessories</a></p>
               <p><a>binoculers & telescopes</a></p>
               

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">shop by brands</h4> 
       
          <p><a>Canon</a></p>
            <p><a >Nikon</a></p>
              <p><a>Sony</a></p>
                  <p><a>fujifilms</a></p>
                <p><a>panasonic</a></p>
                <p><a>Gopro</a></p>
               <p><a>Samsung</a></p>
               <p><a>Pentax</a></p>
                <p><a>Olympus</a></p>
                 <p><a>Lowerpro</a></p>
                  

            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob9.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob10.jpg" height="300px">
        </div>
        
    </div>

</div>

