<div class="container-fluid">
    <div class="row" style="width: 1240px;">
        <div class="col-12" align="center" style="background-color: rgb(50, 55, 84);">
            <p class="text-white m-3">back to top</p>
        </div>
    </div>  
        <div class="row   " style="background-color: rgb(7, 28, 49);width: 1240px;">
            <div class="col-3 mt-4" >
                <h4 class="text-white mx-5">Get to Know Us</h4>
                 <p class="mx-5"><a href="#">About Amazon</a></p>
                 <p class="mx-5"><a href="#">Careers</a></p> 
                 <p class="mx-5"><a href="#">Press Releases</a></p>
                 <p class="mx-5"><a href="#">Science</a> </p>
            </div>
            <div class="col-3 mt-4">
                <h4 class="text-white">Connect with Us</h4>
               
               <p><a href="#">Facebook</a></p>
               <p><a href="#">Twitter</a></p> 
                <p><a href="#">Instagram</a></p>
            </div>
            <div class="col-3 mt-4">
                <h4 class="text-white">Make Money with Us</h4>
              
<p><a href="#">Sell on Amazon</a> </p>
<p><a href="#">Sell under Amazon Accelerator</a></p>
<p><a href="#">Protect and Build Your Brand</a></p>
<p><a href="#">Global Selling</a> </p>
<p><a href="#">Supply to Amazon</a></p>
<p><a href="#">Become an Affiliate</a></p>
<p><a href="#">Fulfilment by Amazon</a></p>
<p><a href="#">Advertise Your Products</a></p>
<p><a href="#">Amazon Pay on Merchants</a></p>
            </div>
            <div class="col-3 mt-4">
                <h4 class="text-white" >Let Us Help You</h4>
               
 <p><a href="#">Your Account</a></p>
 <p><a href="#">Returns Centre</a></p>
<p><a href="#">Recalls and Product Safety Alerts</a></p>
<p><a href="#">100% Purchase Protection</a></p>
<p><a href="#">Amazon App Download</a></p>
<p><a href="#">Help</a></p>
            </div>
      
            <hr class="text-white"> 
    </div>
<div class="row text-white" style="width:1240px ;background-color: rgb(7, 28, 49);">
    <div class="d-flex justify-content-center" style="width:1240px ;" >
        <div class="col-sm-1 mt-4 ">
            <img src="\assets\img\amz.png" width="60px">
        </div>
        <div class="col-sm-1">
            <button class="btn  dropdown-toggle border mt-3  "style="color: azure; width:90px;"  type="button" data-bs-toggle="dropdown" >EN</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">malayalm</a></li>
                <li><a class="dropdown-item" href="#">tamil</a></li>
                <li><a class="dropdown-item" href="#">hindi</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">kannada</a></li>
              </ul>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-white border  mt-3 p-2 "style="color: azure;"  type="button" data-bs-toggle="dropdown" >India</button>
        </div>
    </div>
</div>
   

  <div class="row"  style="background-color: black; width:1240px ;">
    <div class="d-flex flex-row text-white justify-content-center">
        <div class="col-sm mt-5 mx-5" >
           <h6> AbeBooks</h6>
           <p style="font-size: small;">Books,art &
            collectibles
           </p>
           <h6>shopbop</h6>
           <p style="font-size: small;">Designer</p>
           <p style="font-size: small;">fashion Brands</p>
        </div>
        <div class="col-sm mt-5 mx-5" >
            <h6> Amazon Web Services</h6>
           <p style="font-size: small;">Scalable Clouds
           </p>
           <p style="font-size: small;">Computing Services
        </p>
           <h6>Amazon Business</h6>
           <p style="font-size: small;">everything for<br> your business</p>
           
        </div>
        <div class="col-sm mt-5 mx-5" >
            <h6> Audible</h6>
           <p style="font-size: small;">Download<br>
            Audio Books
           </p>
           <h6>Prime</h6>
           <p style="font-size: small;">2-Hour Delievery<br> on Friday Items</p>
          
        </div>
        <div class="col-sm mx-5 mt-5">
            <h6>IMDb</h6>
           <p style="font-size: small;">movies,Tv<br>
            & Celbrites
           </p>
           <h6>Amazon Prime Music</h6>
           <p style="font-size: small;">100 Milion Songs Ad-free <br>
         Over 15 Million Podcast Episode</p>
          
        </div>
        

    </div>
    <div class="row text-white" align="center">
        <p style="font-size:small;">Condition of Use of Sale Privacy Notice Interest-Based Ads<br>
         &#169; 1996-2024, Amazon ,Inc.or its Affliates</p>
    </div>
  </div>
    
    
  

</div>