<div class="container-fluid" style="height:auto; width: auto; background-color: rgb(213, 214, 214);">
    <div class="row">
        <div class="col-md-8 border border-rounded mt-3 mx-3" style="height: 200px; background-color: aliceblue;" >

            <div class="row bg-white" >
                <div class="col-sm-4" >
                    <img src="/assets/img/cartimg.svg">
                </div>
                <div class="col-sm-8 ">
                    <h3 class="mt-5 "  >Your Cart Is Empty Now</h3>
                    <p><a href="#" style="text-decoration: none;">shop today's deal</a></p>
                    <button type="button" class="btn btn-warning" style="border-radius: 15px;">sign in to your account</button>
                    <button type="button" class="btn border " style="border-radius: 15px;">sign up now</button>
                </div>
                
            </div>

            
            
            
            
        </div>
        <div class=" col-md-3  mx-3 mt-3 bg-white"   style="height: 225px; border-top-left-radius: 15px ; border-top-right-radius: 15px ;">
            <div class="col-12" style="height:50px"><h6>Customers who bought items in your Recent History also bought</h6></div>
            <div class="row  " style="height:150px">
                <div class="col-sm-4 mt-2 mx-2"><img src="\assets\img\c1.jpg" style="width:100px ; "></div>
                <div class="col-sm-5"><a href="#">JOLKHABAR Kul chalta Achar combo</a>
                    <img src="\assets\img\rating.png" style="width:50px ;height: 25px; ">
                    <p>$389.00</p>
                    <button type="button" class="btn btn-warning" style="border-radius: 10px; height: 30px; ">Add cart</button>
              </div> 
            
            </div>
                
       </div>
    
        <div class="col-md-8  mt-3 mx-3" style="height: 100px; background-color: aliceblue;">
        <div class="row" style="margin-top: 60px;  background-color: rgb(213, 214, 214);">
            <p style="font-size: x-small;">the price and available of items at amazon.in are subject to change.the shopping cart is temporary place to store a list of your items and reflects each items most recent price
               <br> do you have a promotional code? we will ask you to enter your claim code when its time to pay
            </p>
        </div>    

        </div>
        <div class=" col-md-3  mx-3  bg-white"  style="height: 1000px; border-radius: 0 0 15px 15px;" >
            <div class="row mt-3 " style="height:150px">
                <div class="col-sm-4 mt-2 mx-2"><img src="\assets\img\c1.jpg" style="width:100px ;"></div>
                <div class="col-sm-5"><a href="#">JOLKHABAR Kul chalta Achar combo</a>
                    <img src="\assets\img\rating.png" style="width:50px ;height: 25px; ">
                    <p>$389.00</p>
                    <button type="button" class="btn btn-warning" style="border-radius: 10px; height: 30px; ">Add cart</button>
              </div> 
            
            </div>
            <div class="row mt-5 " style="height:150px">
                <div class="col-sm-4 mt-2 mx-2"><img src="\assets\img\c1.jpg" style="width:100px ;"></div>
                <div class="col-sm-5"><a href="#">JOLKHABAR Kul chalta Achar combo</a>
                    <img src="\assets\img\rating.png" style="width:50px ;height: 25px;">
                    <p>$389.00</p>
                    <button type="button" class="btn btn-warning" style="border-radius: 10px; height: 30px; ">Add cart</button>
              </div> 
            
            </div>
            <div class="row mt-5 " style="height:150px">
                <div class="col-sm-4 mt-2 mx-2"><img src="\assets\img\c1.jpg" style="width:100px ;"></div>
                <div class="col-sm-5"><a href="#">JOLKHABAR Kasundi & aam kasundicombo</a>
                    <img src="\assets\img\rating.png" style="width:50px ;height: 25px; ">
                    <p>$149.00</p>
                    <button type="button" class="btn btn-warning" style="border-radius: 10px; height: 30px; ">Add cart</button>
              </div> 
            
            </div>
            <div class="row mt-5 " style="height:150px">
                <div class="col-sm-4 mt-2 mx-2"><img src="\assets\img\c1.jpg" style="width:100px ;"></div>
                <div class="col-sm-5"><a href="#">JOLKHABAR|gobindo bhoj rice</a>
                    <img src="\assets\img\rating.png" style="width:50px ;height: 25px; background-color: blue;">
                    <p>$179.00</p>
                    <button type="button" class="btn btn-warning" style="border-radius: 10px; height: 30px; ">Add cart</button>
              </div> 
            
            </div>
            
        </div>
        
    
    
        <div class=" m-auto col-sm-12 border-rounded mt-4" style="height: 300px; background-color:azure">
            <h4 class="mx-5">Inspired by your previous history</h4>
             <div  class="wrapper mb-4" >
            
             <div class="item " >
                <img src="\assets\img\gro1.jpg" alt="Cinque Terre" width="100" height="150">
                
                
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">certified wild honey $345|10% offer</a></p>
                   

                     
                </div>
             <div class="item"><img src="\assets\img\gro2.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">fruitiee mixes $495|55% offer</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro3.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">the golden spice turmeric $195</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro4.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">jholakhadher pickles $90</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro5.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">Napuor tomato ketup $299</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro6.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">pistachio butter $645</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro7.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">Triple filter oil $567</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro8.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">Mindful almonds $745|45% offer</a></p>
            </div>
             <div class="item"><img src="\assets\img\gro9.jpg" alt="Cinque Terre" width="100" height="150">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"><a href="#">Brain choco chocolates $345|33% offer</a></p>
            </div>
             
             
            </div>
            
            
          </div>
          
    </div>
<!--  -->