a{
    text-decoration: none;
    color: rgb(46, 197, 104);
}
a:hover{
    text-decoration: underline;
    color: rgb(252, 143, 33);
}
.wrapper{
    white-space: nowrap;
    
    
    display:flex;
    overflow-x: auto;


}
.wrapper::-webkit-scrollbar {
    display: none;
}

.item{
    min-width: 250px;
    height: 250px;
    line-height: 110px;
    text-align: center;
    background-color:azure;
}
.btn:hover{
    background-color: rgb(210, 198, 36);
}

