<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" align="center">
            <button  routerLink="./login" type="button" (click)="closepop()" class="btn btn-warning mt-4 " style="border-radius: 15px; width:140px ;">Sign In</button>
         <p class="mt-4"style="color: black;">New Customer<a href="">Start here</a></p>
        </div>
        <div class="col-sm-6 bg-light"  align="center">
            <h1 style="color: black;"> Your List</h1>
            <p><a href="">Create a Wish List</a></p>
            <p><a href="">Wish from Any Website</a></p>
            <p><a href="">Baby Wishlist</a></p>
            <p><a href="">explore showroom</a></p>
            <p><a href="">Discover your style</a></p>
          
        </div>
        <div class="col-sm-6 bg-light">
            <h1 style="color: black;"> Your Account</h1>
            <p><a href="">Your account</a></p>
            <p><a href="">Your order</a></p>
            <p><a href="">Your wish list</a></p>
            <p><a href="">Your recommendation</a></p>
            <p><a href="">Your prime membership</a></p>
            <p><a href="">Your prime video</a></p>
            <p><a href="">Your subscribe & save items</a></p>
            <p><a href="">membership & subscription</a></p>
            <p><a href="">Your seller account</a></p>
            <p><a href="">Manage Your content and devices </a></p>
            <p><a href=""> Your  free amazon business account</a></p>
        </div>
    </div>
</div>
