<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Headphones</h4> 
         
          <p><a href="">Earphones</a></p>
            <p><a href="">On & over ear phones</a></p>
              <p><a href="">Wireless headphones</a></p>
                  <p><a href="">Headphones</a></p>
                <p><a href="">Headphones with mic</a></p>
                <p><a href="">Sports headphones</a></p>
                <p><a href="">Noise canceling headphones</a></p>
                <h4 class="mt-4">Speakers</h4>
               <p><a href="">Bluetooth speakers</a></p>
               <p><a href="">Multimedia</a></p>
                <p><a href="">Home theatre systems</a></p>
                <p><a href="">Soundbars</a></p>
                 

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Headphones by brands</h4> 
       
          <p><a href="">Boat</a></p>
            <p><a href="" >JBL</a></p>
              <p><a href="">Sony</a></p>
                  <p><a href="">sennheiser</a></p>
                <p><a href="">Boes</a></p>
                <p><a href="">Boult</a></p>
               <p><a href="">Oneplus</a></p>
               <p><a href="">Noise</a></p>
                <p><a href="">Leaf</a></p>
                 <p><a href="">Philips</a></p>
                  <p><a href="">Ant audio</a></p>
                  <p><a href="">Blaupunkt</a></p>

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Speaker brand</h4> 
       
          <p><a>JBL</a></p>
            <p><a >Boat</a></p>
              <p><a>Sony</a></p>
                  <p><a>Bose</a></p>
                <p><a>F & D</a></p>
                <p><a>Philips</a></p>
               <p><a>Mivi</a></p>
               <p><a>Saregama</a></p>
               <p><a>blapunkt</a></p>
                
            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob7.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob8.jpg" height="300px">
        </div>
        
    </div>

</div>


