<div class="container-fluid">
    <div class="row" style="overflow:auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">musical instruments</h4> 
         
          <p><a>guitars</a></p>
            <p><a >keyboard & synthesizers</a></p>
              <p><a>wind instrument</a></p>
              <p><a>Drum percussion</a></p>
              <p><a>Accessories</a></p>
              <p><a>Indian instruments</a></p>
              <h4 class="mt-4">Featred stores</h4> 
                  <p><a>Beginners musical instruments</a></p>
                <p><a>DJ ,stage recording & pro-audio</a></p>
                
                  
                  

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Sound & recording</h4> 
       
          <p><a>DJ controllers</a></p>
            <p><a >Microphones</a></p>
              <p><a>Audio interfacse</a></p>
                <p><a>Studio monitors & speakers</a></p>
                <p><a>Portable recording devices</a></p>
                <p><a>Karaoke</a></p>
                
                 

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="mt-3">Shop by brands</h4> 
       
          <p><a>intern</a></p>
            <p><a >Juarez</a></p>
              <p><a>Casio</a></p>
                  <p><a>Yamaha</a></p>

                   
       
          <p><a>Rockjam</a></p>
            <p><a >Kadence</a></p>
              <p><a>Fender</a></p>
                  <p><a>Zoom</a></p>
                  <p><a>Hercules</a></p>
                  <p><a>Rode</a></p>
                  <p><a>Behringer</a></p>
                  <p><a>Focusrite</a></p>
                
                
                
                 
            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob15.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob16.jpg" height="300px">
        </div>
        
    </div>

</div>



