<div class="container-fluid">
    <div class="row" style="overflow:auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">printers</h4> 
         
          <p><a>Inkjet printers</a></p>
            <p><a >Ink tank printers</a></p>
              <p><a>Laser printers</a></p>
              <p><a>Ink & toner</a></p>
              <h4 class="mt-4">Shop by brands</h4> 
                  <p><a>HP</a></p>
                <p><a>Canon</a></p>
                <p><a>Epson</a></p>
               <p><a>Brother</a></p>
               <p><a>Pantum</a></p>
                <p><a>Samsung</a></p>
                 <p><a>Xerox</a></p>
                  
                  

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Networking</h4> 
       
          <p><a>Routers</a></p>
            <p><a >Modems</a></p>
              <p><a>Data card & dongles</a></p>
                <p><a>Repeaters & extender</a></p>
                <p><a>Wireless USB</a></p>
                <h4 class="mt-4">Shop by brand</h4>
                <p><a>D-link</a></p>
               <p><a>tenda</a></p>
               <p><a>TP link</a></p>
                <p><a>Netgear</a></p>
                 

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="mt-2">components</h4> 
       
          <p><a>Internal HOd</a></p>
            <p><a >Motherboard</a></p>
              <p><a>Processors</a></p>
                  <p><a>Graphics cards</a></p>
                
                <h4 class="mt-4">Desktops</h4>
                <h4 class="mt-4">Monitors</h4>
                
                 
            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob11.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob12.jpg" height="300px">
        </div>
        
    </div>

</div>


