<div class="container-fluid">
    <div class="row">
        
        
        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Amazon Prime Music</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Amazon Prime Music</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Open WebPlayer</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Voice Controlled with Alexa</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Amazon Prime Music Apps</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> CDs and Vinyls</h6></div>

    </div>
</div>
