<div class="container-fluid"><div class="row">
    <div class=" d-flex flex-row   " style="height:fit-content ; ">
        <div id="option1" class=" col-sm p-1" ><a href="">ELECTRONICS</a></div>
        <div (click)="mob()"  id="option1" class=" col-sm p-1" ><a >Mobile & Accessories</a></div>
        <div (click)="lap()" id="option1" class= "col-sm p-1"><a >Laptop & accessories</a></div>
        <div (click)="tv()" id="option1"class="col-sm p-1"><a ><span>TV & Home Entertainment</span></a></div>
        <div (click)="audio()" id="option1" class="col-sm p-1"><a >Audio</a></div>
        <div (click)="camera()" id="option1" class=" col-sm p-1" ><a >Camera</a></div>
        <div (click)="computer()" id="option1" class=" col-sm p-1"><a >Computer Peripherals</a></div>
        <div (click)="smarttech()" id="option1" class= "col-sm p-1"><a >Smart Technology</a></div>
        <div  (click)="music()" id="option1"class="col-sm p-1"><a >Musical instrument</a></div>
        <div (click)="station()" id="option1" class="col-sm p-1"><a >Office Stationary</a></div>
        
        </div>
        <hr style="border:1px solid black">

       
            <div class="col-sm-5">

                <p style="color: rgb(100, 100, 97);">category</p>
            </div>

        </div> 
        <div class="row mt-2 mx-2" >
         <div class="col-sm-3">
            <h3 style="font-weight: bolder;">Mobile Accessories</h3>
            <p><a href="">Accessories</a></p>
            <p><a href="">Mobile & accessories</a></p>
          <p><a href="">Smart phone & basic Mobiles</a></p>
         <p><a href=""> Data card & dongles</a></p>
         <p><a href=""> Sim card</a></p>
            
        
        <p><a href=""> Gaming mobiles </a></p>
         <p><a href="">smart Watches</a></p>
         <h4 style="font-weight: bolder;">Amazon prime</h4>
             <input type="checkbox"><img src="">
             <h4 style="font-weight: bolder;">Delivery Day</h4>
             <input type="checkbox">Get it Today<br>
             <input type="checkbox">Get it by Tomorrow<br>
             <h4 style="font-weight: bolder;">Brands</h4>
             <input type="checkbox">Samsung<br>
             <input type="checkbox">Apple<br>
             <input type="checkbox">OnePlus<br>
             <input type="checkbox">boat<br>
             <input type="checkbox">Redmi<br>
             <input type="checkbox">Sony<br>
             <input type="checkbox">realme<br>
             <input type="checkbox">JBL<br>
             <input type="checkbox">iQOO<br>
             <input type="checkbox">LG<br>
             <h4 style="font-weight: bolder;">Items</h4>
             <p><a href=""> New </a></p>
               <p><a href="">Renewed</a></p>
               <h4 style="font-weight: bolder;">Price</h4>
               <p><a href=""> Under $1,000</a></p>
               <p><a href="">$1,000 -$5,000</a></p>
               <p><a href=""> $5,000 - $10,000 </a></p>
               <p><a href="">$10,000 - $20,000</a></p>
               <p><a href="">Over $20,000</a></p>
               <h4 style="font-weight: bolder;">Deals & Discounts</h4>
               <p><a href="">All Discounts</a></p>
               <p><a href="">todays Deals</a></p>
               <h4 style="font-weight: bolder;">Made for Amazon Brands</h4>
               <input type="checkbox">made for Amazon<br>
               <h4 style="font-weight: bolder;">Pay on Delivery</h4>
               <input type="checkbox">Eligible for pay On delivery<br>
               <h4 style="font-weight: bolder;">New Arrivals</h4>
               <p><a href="">Last 30 days</a></p>
               <p><a href="">Last 90 days</a></p>
               <h4 style="font-weight: bolder;">New Arrivals</h4>
               <p><a href="">10% Off or more</a></p>
               <p><a href="">25px Off or more</a></p>
               <p><a href="">35% Off or more</a></p>
               <p><a href="">50% Off or more</a></p>
               <p><a href="">60% Off or more</a></p>
               <p><a href="">70% Off or more</a></p>

               <h4 style="font-weight: bolder;">Seller</h4>
             <input type="checkbox">Clicktech Retail private limited<br>
             <input type="checkbox">Cocoblu Retail<br>
             <input type="checkbox">The GiftKart<br>
             <input type="checkbox">Spigen India<br>
             <input type="checkbox">Pikkme<br>
             <input type="checkbox">polestar Etail<br>
             <input type="checkbox">ESR official<br>

             <h4 style="font-weight: bolder;">Availability</h4>
             <input type="checkbox">Include Out of Stock<br>
             




             

             

         </div>
         
         <div class="col-sm-9"> 
            <!--  side part--> 
              <div class="row">
                <div class="col-sm-3" ><button class="btn btn-info" style="height:50px; width: 220px;">accessories</button></div>
                
                <div class="col-sm-3"><button class="btn btn-info" style="height:50px; width: 220px;">Nazro turbo 5g</button></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <img src="\assets\img\mobileBanner1.gif" width="100%">
                  <div class="row">

                    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" >
                        <div class="carousel-indicators" >
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" >
                            <img src="\assets\img\banner1.jpg" class="d-block w-100 pl-5" alt="..."  >
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\banner2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\banner3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\banner4.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\banner5.jpg" class="d-block w-100" alt="...">
                          </div>
                          
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>  
                      <div id="carousel6" class="carousel slide" >
                        <h1 style="font-family: serif; font-size: 30px; color: rgb(24, 25, 25);">Latest launches in Mobiles & Accessories</h1>
                        <div class="carousel-inner" style="height:fit-content ;">
                            <div class="carousel-item active">
                             <div class="row ">
                              <div class="col-sm bg-light"  id="img">
                                  <img class="" src="\assets\img\banner101.jpg" width="100%" height="200px">
                                  
                                      
                                     
                              </div>
                              <div class="col-sm bg-light" id="img" >
                                  <img class="" src="\assets\img\banner102.jpg" width="100%" height="200px" >
                                  
                                      
                                      
                              </div>
                           <div class="col-sm bg-light" id="img" >
                                  <img class=" " src="\assets\img\banner103.jpg"  width="100%" height="200px">
                                  
                                      
                                      
                              </div> 
                              <div class="col-sm bg-light" id="img">
                                <img class=" " src="\assets\img\banner104.jpg" width="100%" height="200px">
                               
                                    
                                  
                            </div>
                            <div class="col-sm bg-light" id="img">
                                <img class="" src="\assets\img\banner105.jpg" width="100%" height="200px">
                                </div>
                            </div>
                           
                            
                            
                          </div>
                          <div class="carousel-item ">
                            <div class="row ">
                             <div class="col-sm-3 bg-light"  id="img">
                                 <img class="" src="\assets\img\banner106.jpg" width="100%" height="200px">
                                 
                                     
                                    
                             </div>
                             <div class="col-sm-3 bg-light" id="img" >
                                 <img class="" src="\assets\img\banner107.jpg" width="100%" height="200px" >
                                 
                                     
                                     
                             </div>
                          <div class="col-sm-3 bg-light" id="img" >
                                 <img class=" " src="\assets\img\banner108.jpg"  width="100%" height="200px">
                                 
                                     
                                     
                             </div> 
                             <!-- <div class="col-sm bg-light" id="img">
                               <img class=" " src="\assets\img\comp9.png" width="100%" height="200px">
                              
                                   
                                 
                           </div> -->
                           <!-- <div class="col-sm bg-light" id="img">
                               <img class="" src="\assets\img\comp10.png" width="100%" height="200px">
                               </div> -->
                           </div>
                          
                           
                           
                         </div>
                          <button style="height:90px ; width:50px ;" class="carousel-control-prev border mt-5 bg-secondary" type="button" data-bs-target="#carousel6" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button style="height:90px ;width:50px "class="carousel-control-next border mt-5 bg-secondary" type="button" data-bs-target="#carousel6" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
        
                    </div>
                    <div id="carousel60" class="carousel slide" >
                      <h1 style="font-family: serif; font-size: 30px; color: rgb(24, 25, 25);">Amazon smartphone stores</h1>
                      <div class="carousel-inner" style="height:fit-content ;">
                          <div class="carousel-item active">
                           <div class="row ">
                            <div class="col-sm bg-light"  id="img">
                                <img class="" src="\assets\img\banner202.gif" width="100%" height="200px">
                                
                                    
                                   
                            </div>
                            <div class="col-sm bg-light" id="img" >
                                <img class="" src="\assets\img\banner201.gif" width="100%" height="200px" >
                                
                                    
                                    
                            </div>
                         <div class="col-sm bg-light" id="img" >
                                <img class=" " src="\assets\img\banner203.gif"  width="100%" height="200px">
                                
                                    
                                    
                            </div> 
                            <div class="col-sm bg-light" id="img">
                              <img class=" " src="\assets\img\banner204.gif" width="100%" height="200px">
                             
                                  
                                
                          </div>
                          <div class="col-sm bg-light" id="img">
                              <img class="" src="\assets\img\banner205.gif" width="100%" height="200px">
                              </div>
                          </div>
                         
                          
                          
                        </div>
                        <div class="carousel-item ">
                          <div class="row ">
                           <div class="col-sm-3 bg-light"  id="img">
                               <img class="" src="\assets\img\banner206.gif" width="100%" height="200px">
                               
                                   
                                  
                           </div>
                           <div class="col-sm-3 bg-light" id="img" >
                               <img class="" src="\assets\img\banner207.gif" width="100%" height="200px" >
                               
                                   
                                   
                           </div>
                        <!-- <div class="col-sm-3 bg-light" id="img" >
                               <img class=" " src="\assets\img\banner108.jpg"  width="100%" height="200px">
                               
                                   
                                   
                           </div>  -->
                           <!-- <div class="col-sm bg-light" id="img">
                             <img class=" " src="\assets\img\comp9.png" width="100%" height="200px">
                            
                                 
                               
                         </div> -->
                         <!-- <div class="col-sm bg-light" id="img">
                             <img class="" src="\assets\img\comp10.png" width="100%" height="200px">
                             </div> -->
                         </div>
                        
                         
                         
                       </div>
                        <button style="height:90px ; width:50px ;" class="carousel-control-prev border mt-5 bg-secondary" type="button" data-bs-target="#carousel60" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button style="height:90px ;width:50px "class="carousel-control-next border mt-5 bg-secondary" type="button" data-bs-target="#carousel60" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
      
                  </div>
                  <div class="row">
                    <div class="col-sm-12 mt-3">
                      <img src="\assets\img\weekbanner.jpg" width="100%">
                    </div>
                  </div>
                  <div class="row d-flex flex-row">
                    <div class="col-sm-2"><img src="\assets\img\ad1.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad2.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad3.jpeg" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad4.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad5.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad6.png" width="150px"></div>
                  </div>
                  <div class="row d-flex flex-row">
                    <div class="col-sm-2"><img src="\assets\img\ad7.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad8.jpeg" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad9.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad10.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad11.png" width="150px"></div>
                    <div class="col-sm-2"><img src="\assets\img\ad12.png" width="150px"></div>
                  </div>
                  <div class="row d-flex flex-row">
                    <div class="col-sm-3"><img src="\assets\img\ad7.png" width="230px"></div>
                    <div class="col-sm-3"><img src="\assets\img\ad8.jpeg" width="230px"></div>
                    <div class="col-sm-3"><img src="\assets\img\ad9.png" width="230px"></div>
                    <div class="col-sm-3"><img src="\assets\img\ad10.png" width="230px"></div>
                    
                  </div>
                       <div id="carouselControls" class="carousel slide " data-bs-ride="carousel" >
                        <div class="carousel-indicators " >
                            <button type="button"  class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button"  class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button"  class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button"  class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button"  class="bg-light" data-bs-target="#carouselControls" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" >
                            <img src="\assets\img\r1.jpg" class="d-block w-100 pl-5" alt="..."  >
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\r2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\r3.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\r4.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets\img\r5.jpg" class="d-block w-100" alt="...">
                          </div>
                          
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>   

                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\gifbanner1.gif" width="100%">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\banner201.jpg" width="100%">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\banner202.jpg" width="100%">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\banner203.png" width="100%">
                        </div>
                        <div class="mt-3 d-flex flex-row">
                          <div class="p-2"> <img id="img3" src="\assets\img\galaxy1.jpg" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\galaxy2.jpg" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\galaxy3.jpg" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\galaxy4.jpg" width="130px" ></div>
                          <div class="p-2"><img id="img3" src="\assets\img\galaxy5.jpg"width="130px"></div>
                          
      
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\bannerlite.png" width="100%">
                        </div>
                        <div class="mt-3 d-flex flex-row">
                          <div class="p-2"> <img id="img3" src="\assets\img\lite1.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lite2.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lite3.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lite4.png" width="130px" ></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lite5.png"width="130px"></div>
                          
      
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\bannernarzo.png" width="100%">
                        </div>
                        <div class="mt-3 d-flex flex-row">
                          <div class="p-2"> <img id="img3" src="\assets\img\narzo1.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\narzo2.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\narzo3.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\narzo4.png" width="130px" ></div>
                          <div class="p-2"><img id="img3" src="\assets\img\narzo5.png"width="130px"></div>
                          
      
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\bannerredmi.png" width="100%">
                        </div>
                        <div class="mt-3 d-flex flex-row">
                          <div class="p-2"> <img id="img3" src="\assets\img\redmi1.jpg" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\redmi2.jpg" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\redmi3.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\redmi4.jpg" width="130px" ></div>
                          <div class="p-2"><img id="img3" src="\assets\img\redmi5.png"width="130px"></div>
                          
      
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-3">
                          <img src="\assets\img\bannerlava.png" width="100%">
                        </div>
                        <div class="mt-3 d-flex flex-row">
                          <div class="p-2"> <img id="img3" src="\assets\img\lava1.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lava2.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lava3.png" width="130px"></div>
                          <div class="p-2"><img id="img3" src="\assets\img\lava4.png" width="130px" ></div>
                          
                          
      
                      </div>
                      </div>
                      <div class="row d-flex flex-row">
                        <div class="row">
                          <div class="col-sm-12" style="border:1px solid black; border-radius: 7px;" >
                            <p>1-12 of over 80,000 results for Mobiles & Accessories</p>
                          </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory1.jpg" width="250px" height="350px">
                          <p><a href="">ElevOne Wall Mounted Mobile Holder Storage
                             Case for Remote, Wall Mount Mobile Stand/Multi-Purpose
                              Stand with Hole for Phone Charging & Key Chain</a></p>
                              <p><span class="price">₹129 M.R.P</span>: ₹399 (68% off)
                                Get it by Tomorrow, 20 November
                                FREE Delivery by Amazon</p>
                        
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory2.jpg" width="250px" height="350px">
                          <p><a href="">Mouldex Cell Phone Stand 360° Rotation Phone 
                            Stand Height Adjustable Cell Phone Holder Foldable Aluminium 
                            Alloy Stand Compatible</a></p>
                             <p><span class="price">₹729 M.R.P</span>: ₹1,199 (39% off)
                              Get it by Monday 25 November
                             FREE Delivery by Amazon</p>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory3.jpg" width="250px" height="350px">
                          <p><a href="">Apple 20W USB-C Power Adapter 
                            (for iPhone, iPad & AirPods)</a></p>
                             <p><span class="price">₹1,549 M.R.P</span>:: ₹1,900 (18% off)
                              Get it by Tomorrow, 20 November
                             FREE Delivery by Amazon</p>
                        </div>

                        
                      </div>
                      <div class="row d-flex flex-row">
                        
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory4.jpg" width="250px" height="350px">
                          <p><a href="">Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB Storage)
                             | 50MP Dual Camera | Bigger 6.7" HD+ Display | 5000mAh Battery |
                              25W Fast Chargin</a></p>
                              <p><span class="price">₹6,999 M.R.P</span>: ₹9,999 (30% off)
                                Get it by Monday 25 November
                               FREE Delivery by Amazon
                               Service: Installation
                               More Buying Choices
                               ₹6,995(6 new offers)</p>
                        
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory5.jpg" width="250px" height="350px">
                          <p><a href="">Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB Storage) |
                             MediaTek Dimensity 6100+ 5G | 90Hz Display</a></p>
                             <p><span class="price">₹9,199 M.R.P</span>: ₹13,999 (34% off)
                              Save extra with No Cost EMISave extra with No Cost EMI
                               Get it by Tomorrow, 20 November
                              FREE Delivery by Amazon
                              Service: Installation</p>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory6.jpg" width="250px" height="350px">
                          <p><a href="">Echocart Outdoor Bike Bag Bicycle Front Cell Phone
                             Holder Case Cycle Accessories Mobile</a></p>
                             <p><span class="price">₹3,629 M.R.P:</span> ₹7,258 (50% off)
                              Get it Saturday 21 December - Wednesday 25 December
                              FREE Delivery</p>
                        </div>

                        
                      </div>
                      <div class="row d-flex flex-row">
                        
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory7.jpg" width="250px" height="350px">
                          <p><a href="">Mobile Phones Accessories For for Google Pixel 7 Pro Power
                             Button + Volume Button Control Button Replacement Parts</a></p>
                              <p><span class="price">₹1,499 M.R.P</span>: ₹2,999 (50% off)
                                Buy 2 items, get 5% off
                                 Get it by Tuesday 26 November
                               ₹6,995(6 new offers)</p>
                        
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory8.jpg" width="250px" height="350px">
                          <p><a href="">amazon basics Universal Car Mobile Holder for Dashboard
                             with One Touch Mechanism- Expandable, Rotatable & Double Shift
                              Locking for Windscreen</a></p>
                             <p><span class="price">₹299 M.R.P</span>:₹1,999 (85% off)
                              Get it by Tomorrow, 20 November
                              FREE Delivery by Amazon</p>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory9.jpg" width="250px" height="350px">
                          <p><a href="">iQOO Z9 Lite 5G (Aqua Flow, 6GB RAM, 128GB Storage) |
                             Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box</a></p>
                             <p><span class="price">₹11,498 M.R.P</span> : ₹15,499 (26% off)
                              Flat INR 1000 Off on HDFC BankCardsFlat INR 1000 Off on HDFC BankCards
                               Get it by Tomorrow, 20 November
                              FREE Delivery by Amazon
                              Service: Installation</p>
                        </div>

                        
                      </div>
                      <div class="row d-flex flex-row">
                        
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory10.jpg" width="250px" height="350px">
                          <p><a href="">Mobile Phones Accessories For for Google Pixel 7 Pro Power
                             Button + Volume Button Control Button Replacement Parts</a></p>
                              <p><span class="price">₹1,499 M.R.P</span>: ₹2,999 (50% off)
                                Buy 2 items, get 5% off
                                 Get it by Tuesday 26 November
                               ₹6,995(6 new offers)</p>
                        
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory11.jpg" width="250px" height="350px">
                          <p><a href="">amazon basics Universal Car Mobile Holder for Dashboard
                             with One Touch Mechanism- Expandable, Rotatable & Double Shift
                              Locking for Windscreen</a></p>
                             <p><span class="price">₹299 M.R.P</span>:₹1,999 (85% off)
                              Get it by Tomorrow, 20 November
                              FREE Delivery by Amazon</p>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <img src="\assets\img\accessory12.jpg" width="250px" height="350px">
                          <p><a href="">iQOO Z9 Lite 5G (Aqua Flow, 6GB RAM, 128GB Storage) |
                             Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box</a></p>
                             <p><span class="price">₹11,498 M.R.P</span> : ₹15,499 (26% off)
                              Flat INR 1000 Off on HDFC BankCardsFlat INR 1000 Off on HDFC BankCards
                               Get it by Tomorrow, 20 November
                              FREE Delivery by Amazon
                              Service: Installation</p>
                        </div>

                        
                      </div>
                      
    
    
    
                
                </div>
                </div>
              </div>
           
             
           </div>
      
      <div class="row mt-5 ">
        <div class="col-sm-12">
          <h1 style="font-size: 35px; font-weight: bolder;">Buy the Best Electronic Products Online at Amazon.in</h1>
           <p>
            Are you searching for the latest and most advanced electronics that meet 
            your personal, professional, or entertainment needs? Look no further than
             Amazon India, where we offer a vast range of electronics at competitive 
             prices. Whether you're in need of headphones, smartwatches, computer 
             accessories,or musical instruments, we have a product to suit your needs.
           </p>
           <p>
            At Amazon India, we pride ourselves on bringing you the best selection 
            of high-quality electronics from renowned brands, all at your fingertips.
             Explore the latest innovations in technology with a comprehensive list of
              gadgets that cater to your lifestyle and enhance your experience. Whether
               you are a tech enthusiast, a musician, a photographer, or a professional 
               seeking the best productivity tools, Amazon has it all.
           </p>
           <h1  class="mt-5" style="font-size: 30px; font-weight: bolder;">Explore a Wide Range of Electronics</h1>
             <p>
              Amazon India's electronics section offers a diverse range of products designed to meet the unique requirements
               of every individual. Whether you're after cutting-edge headphones, durable 
               smartwatches, or reliable computer accessories, our selection ensures that 
               you'll find exactly what you need to stay connected, entertained, and
                efficient. Let's take a closer look at some popular categories available 
                on Amazon India:
             </p>
             <h1 style="font-weight: bolder;">Headphones</h1>
             <p>
              Headphones have become an essential accessory for both leisure and work.
               Whether you're looking for immersive sound during your workout or a
                noise-canceling headset for your work calls, Amazon India has a wide
                 variety of headphones to suit your needs. From wired to wireless,
                  over-ear to in-ear, we offer options that ensure comfort, quality, 
                  and top-tier sound. Explore headphones from leading brands like Bose,
                   Sony, and Sennheiser, each providing powerful sound, durability, and 
                   long battery life for a seamless audio experience.
             </p>
             <h1 style="font-weight: bolder;">Smartwatches</h1>
             <p>Keep track of your fitness goals, stay connected, and elevate your
               style with our extensive range of smartwatches. At Amazon India, we
                offer smartwatches designed to complement every lifestyle. Whether
                 you're into fitness tracking, need reminders, or simply want an 
                 extension of your smartphone on your wrist, our smartwatches combine
                  functionality and aesthetics effortlessly. Brands like Apple, Samsung,
                   and more lead the charge with their innovative technology that
                    includes heart rate monitors, GPS tracking, and customizable watch
                     faces. Discover the right smartwatch that syncs with your 
                     routine and personal style.</p>
                     <h1 style="font-weight: bolder;">Computer Accessories</h1>
                     <p>Maximize your productivity with Amazon India's comprehensive collection
                       of computer accessories. Whether you're setting up a home office, enhancing
                        your gaming experience, or simply upgrading your workstation, we offer an
                         array of accessories such as keyboards, mice, hard drives, USB hubs, 
                         cooling pads & many more. Explore products from trusted brands, all 
                         designed to improve the functionality of your computer setup. Our 
                         computer accessories are essential for both personal and professional
                          use, ensuring seamless operation for tasks of all kinds.
                        </p>
                        <h1 style="font-weight: bolder;">Speakers</h1>
                        <p>
                          Fill your home with premium sound by choosing from 
                          Amazon India's selection of speakers. From portable
                           Bluetooth speakers for outdoor adventures to high-end
                            home theatre systems for a cinematic experience, we
                             offer products that deliver crisp, clear sound for
                              every occasion. Enjoy speakers from leading brands
                               such as JBL, Sony, and Bose, each designed to provide
                                immersive audio with powerful bass and superior 
                                clarity. Whether it's for a party, a movie night,
                                 or casual music listening, our speakers guarantee
                                  exceptional sound quality.
                        </p>
                        <h1 style="font-weight: bolder;">Musical Instruments</h1>
                        <p>Discover your musical passion or enhance your skills with our collection of musical instruments. Whether you're a beginner or a seasoned professional, Amazon India offers a wide array of instruments that cater to various musical genres. Shop for guitars, keyboards, drums, and other instruments from renowned brands. Additionally, we provide a range of accessories including amplifiers, cases, and tuners to complete your setup. Let your musical creativity soar with Amazon's carefully curated collection.</p>
                        <h1 style="font-weight: bolder;">Storage Solutions</h1>
                        <p>Efficiently manage your digital files with our extensive range of storage devices. Whether you need a portable external hard drive, a high-speed USB flash drive, or a reliable memory card, Amazon India has the perfect solution for your storage needs. From trusted brands, you'll find storage devices that offer speed, security, and ample space. Whether for work, entertainment, or personal use, our storage solutions are designed to safeguard your data and make transferring files easier than ever.</p>
                        <h1 style="font-weight: bolder;">Networking Devices</h1>
                        <p>
                          Stay connected with Amazon India's range of networking devices,
                           designed to provide reliable and high-speed internet access.
                            From routers, modems, and Wi-Fi extenders to networking cables
                             and adapters, we offer a wide selection of products that 
                             ensure strong and stable connections. Brands like TP-Link,
                              Netgear, and D-Link lead the way with innovative solutions
                               for homes and offices, ensuring you stay connected to 
                               the digital world with ease and efficiency. Whether
                                for work, gaming, or streaming, our networking 
                                devices enhance your internet experience with 
                                seamless connectivity.
                        </p>
                        <h1  class="mt-5" style="font-size: 30px; font-weight: bolder;">Shop Top Electronics Brands at Best Price in India</h1>
                        <p>At Amazon India, we take pride in offering products from some of the world's most trusted and renowned electronics brands.
                           Whether you're searching for premium headphones, innovative smartwatches, or advanced storage solutions, our catalog includes
                            brands that are celebrated for their quality, innovation, and reliability.</p>
                        <ul>
                          <li>Sony: Known for its advanced audio and visual products, 
                            Sony delivers cutting-edge technology in headphones, speakers, cameras, and more.</li>
                          <li>Apple: Famous for its iconic products like the Apple Watch, iPhones, and MacBooks,
                             Apple continues to push the boundaries of technology and design.</li>
                          <li>Samsung: From smartwatches to storage devices, Samsung offers a diverse range of
                             electronics that combine style with functionality.</li>
                          <li>Bose: Renowned for its speakers and headphones, Bose delivers exceptional 
                            sound quality that transforms your listening experience.</li>
                          <li>Logitech: Trusted for its computer accessories, Logitech provides high-performance
                             keyboards, mice, and webcams to boost your productivity.</li>
                          <li>Canon & Nikon: For photography enthusiasts, Canon and Nikon offer top-of-the-line 
                            cameras and accessories that capture high-quality images and videos.</li>
                        </ul>
                            <p>These are just a few of the many brands that you'll find on Amazon India's electronics page. No matter what your electronics needs are, you can shop with confidence 
                              knowing that you're getting the best products from industry leaders.</p>
                              <h1  class="mt-5" style="font-size: 25px; font-weight: bolder;">Discover Exclusive Deals and Offers</h1>
                              <p>Amazon India offers exclusive deals, discounts, and lightning sales on
                                 various electronics, making it easy for you to find the best value for
                                  your money. From festive sales to daily discounts, our offers ensure that
                                   you can access premium electronics at unbeatable prices. Be sure to check 
                                   back frequently for new deals on headphones, smartwatches, storage 
                                   devices, and more. With fast shipping and easy returns, Amazon India
                                    ensures that your shopping experience is smooth and hassle-free. 
                                    Dive into the world of electronics with Amazon and stay connected, entertained, and productive.</p>
                                    <h1  class="mt-5" style="font-size: 25px; font-weight: bolder;">Frequently Asked Questions (FAQs) - Electronics</h1>
                                    <h1  style="font-size: 20px; font-weight: bolder;">1. What are the best headphones available on Amazon India?</h1>
                                    <p>Some of the best headphones on Amazon India include top brands like Sony, Bose, and many more, offering features like noise-cancellation,
                                       wireless connectivity, and superior sound quality.</p>
                                       <h1  style="font-size: 20px; font-weight: bolder;">2. What are the must-have computer accessories for a home office setup?</h1> 
                                       <p>Essential computer accessories for a home office include ergonomic keyboards, wireless mice, external hard drives, USB hubs, and webcams.</p> 
                                       <h1  style="font-size: 20px; font-weight: bolder;">3. Which speakers provide the best sound quality for home entertainment?</h1>
                                  <p>For home entertainment, speakers from brands like Bose, Sony, and JBL offer excellent sound quality, with features like Bluetooth connectivity and deep bass.</p>
                                  <h1  style="font-size: 20px; font-weight: bolder;">4. What should I consider when buying a smartwatch?</h1>
                                  <p>When choosing a smartwatch, consider features like fitness tracking, battery life, compatibility with your smartphone, and whether it has additional features like GPS, heart rate monitoring, or water resistance.</p>
                                  <h1  style="font-size: 20px; font-weight: bolder;">5. How can I enhance my home audio system?</h1>
                                  <p>To improve your home audio system, consider adding speakers that provide surround sound, and a subwoofer for deeper bass.</p>
                                </div>
      </div>
    </div>

