<div class="container-fluid">
    <div class=" d-flex flex-row   mt-3" style="height:5px ;">
        <div id="option1" class="p-1" ><a href="">Bestseller</a></div>
        <div id="option1" class="p-1"><a href="">Hot New Release</a></div>
        <div id="option1" class="p-1"><a href="">Move and Shakers</a></div>
        <div id="option1"class="p-1"><a href="">Most Wished For</a></div>
        <div id="option1" class="p-1"><a href="">Most Gifted</a></div>
        
        </div>
        <hr style="border:1px solid black">

        <div class="row mt-3">
            <div class="col-sm-5">
                <h1 style="font-family: fantasy; font-size: 40px;">Amazon Hot New Releases</h1>
                <p style="color: rgb(100, 100, 97);">Our bestselling new and future releases. Updated frequently.</p>
            </div>

        </div>
        <div class="row mt-2">
         <div class="col-sm-3">
            <h3 style="font-weight: bolder;">Any Department</h3>
            <p><a href="">Amazon Launchpad</a></p>
             <p><a href="">Amazon Renewed</a></p>
            <p><a href="">Baby Products</a></p>
         <p><a href=""> Bags, Wallets and Luggage</a></p>
           <p><a href="">Beauty</a></p>
            <p><a href="">Books</a></p>
        <p><a href=""> Clothing & Accessories</a></p>
         <p><a href="">Computers & Accessories</a></p>
          <p><a href="">Electronics</a></p>
         <p><a href=""> Garden & Outdoors</a></p>
            <p><a href=""> Health & Personal Care</a></p>
         <p><a href="">  Home & Kitchen</a></p>
        <p><a href=""> Home Improvement</a></p>
       <p><a href="">  Jewellery</a></p>
           <p> <a href="">Kindle Store</a></p>
            <p><a href="">Movies & TV Shows</a></p>
         <p><a href=""> Music</a></p>
       <p><a href="">Musical Instruments</a></p>
       <p><a href="">Office Products</a></p>
      <p><a href="">Pet Supplies</a></p>
    <p><a href=""> Shoes & Handbags</a></p>
      <p><a href="">Sports, Fitness & Outdoors</a></p>
    <p><a href=""> Toys & Games</a></p>
        <p><a href="">Video Games</a></p>
         <p><a href="">Watches</a></p>    

         </div>
         <div class="col-sm-9">
            <!-- carousel -->
            <div class="row">
                <h1 style="font-family: serif; font-size: 40px;">New Books Releases</h1>
                <div id="carouselExampleIndicators" class="carousel slide" >
                    <div class="carousel-indicators bg-secondary" >
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="height:450px ;">
                      <div class="carousel-item active">
                       <div class="row ">
                        <div class="col-sm bg-light" align="center" >
                            <img class="mt-5 mx-5" src="\assets\img\best1.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                Diary of a Wimpy Kid: Hot Mess (Book 19) (Diary of a Wimpy Kid, 19)
                                </a></p>
                                <p>hard cover</p>
                                <p>249$</p>
                        </div>
                        <div class="col-sm bg-light"  align="center">
                            <img class="mt-5" src="\assets\img\best2.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                #2
                              Educart CBSE Sample Paper Class 10 2024-25 - Science,
                             Mathematics (Standard), 
                            Social Science & English Combo Set of 4 Books 


                                </a></p>
                                <p>hard cover</p>
                                <p>1549$</p>
                        </div>
                        <div class="col-sm bg-light"  align="center">
                            <img class="mt-5 mx-5" src="\assets\img\best3.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                #3
                                The Golden Road : How Ancient India Transformed
                                 the World
                                The Golden Road : How Ancient India Transformed 
                                the World
                                Wlliam Dalrymple

                                </a></p>
                                <p>hard cover</p>
                                <p>1149$</p>
                        </div>
                            
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\best4.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #4
                                   Oswaal CBSE Sample Question Papers Class 10 Science Book (For 2025 Exam)
                                  Oswaal CBSE Sample Question Papers Class 10 Science Book…
    
                                    </a></p>
                                    <p>hpaper</p>
                                    <p>949$</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5" src="\assets\img\best5.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #5
                                    SSC GD COMBO 2025 (GK+HINDI + MATHS +REASONING)
                                    SSC GD COMBO 2025 (GK+HINDI + MATHS +REASONING)
    
                                    </a></p>
                                    <p>hpaper</p>
                                    <p>1349$</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\best6.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #6
                                    PW CBSE | Class 10 | 15 New Pattern Sample Paper Science, Maths (Std), English & Social Science Combo Set of 4 Books for 2025
                                    PW CBSE | Class 10 | 15 New Pattern Sample Paper Science,…
                                    PW (Physics Wallah)
                                    4.8 out of 5 stars 109
                                    </a></p>
                                    <p>paper</p>
                                    <p>1949$</p>
                            
                            </div>
                           </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row ">
                            <div class="col-sm bg-light" align="center"> 
                                <img class="mt-5 mx-5" src="\assets\img\best7.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #7
                                    Educart CBSE Science Class 10 Sample Papers 2024-25 (With exclusive CBSE Mock Booklets for 2025 Exam)
                                    Educart CBSE Science Class 10 Sample Papers 2024-25 With…
                                    Prashant Kirad
                                    </a></p>
                                    <p>paper</p>
                                    <p>999$</p></div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\best8.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #8
                                    Parmar SSC Class Notes for Polity, Static GK, History, Geography, General Science, Economics Combo Set (English Medium)
                                    Parmar SSC Class Notes for Polity, Static GK, History, Geography, General Science, Economics…
                                    Parmar Sir
                                    </a></p>
                                    <p>paper</p>
                                    <p>unknown binding</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\best9.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #9
                                   Oswaal CBSE Sample Question Papers Class 10
                                    Mathematics Standard Book (For 2025 Exam)
                                   Oswaal CBSE Sample Question Papers Class 10
                                    Mathematics…
                                   Oswaal Editorial Board
                                    </a></p>
                                    <p>paper</p>
                                    <p>558$</p>
                            </div>
                           </div>
                      </div>
                    </div>
                    <button style="height:90px ; width:50px ;" class="carousel-control-prev border mt-5 bg-secondary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="height:90px ;width:50px "class="carousel-control-next border mt-5 bg-secondary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            
            </div>
            <div class="row">
                <div class="col-sm-9" style=" width: 1000px;">
                    <!-- carousel2 -->
                    <div class="row">
                        <h1 style="font-family: serif; font-size: 40px;">New Home & Kitchen Products Release</h1>
                        <div id="carousel2" class="carousel slide" >
                            <div class="carousel-indicators bg-secondary" >
                              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner" style="height:450px ;">
                              <div class="carousel-item active">
                               <div class="row ">
                                <div class="col-sm bg-light" align="center" >
                                    <img class="mt-5 " src="\assets\img\h1.jpg" width="160px">
                                    <p style="font-family: serif; color: rgb(9, 160, 87);">
                                        <a href="">
                                            #1
                                            Gas Lighter for Kitchen Use | Rechargeable Electric Lighter | Lighter | Stove & Candle Lighter with USB Charging Port | 1 Yea
                                            Gas Lighter for Kitchen Use | Rechargeable Electric Lighter | Lighter | Stove & Candle Lighter with USB Charging Port | 1 Year…
                                        </a></p>
                                        
                                        <p class="text-danger">279$</p>
                                </div>
                                <div class="col-sm bg-light"  align="center">
                                    <img class="mt-5 mx-5" src="\assets\img\h2.jpg" width="160px">
                                    <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                        #2
                                        OPTIFINE Study Table/Bed Table/Foldable and Portable Wooden/Writing Desk for Office/Home/School (Black-COTTED-Black)
                                        OPTIFINE Study Table/Bed Table/Foldable and Portable Wooden/Writing Desk for Office/Home/School black
        
                                        </a></p>
                                        
                                        <p class="text-danger">549$</p>
                                </div>
                             <div class="col-sm bg-light"  align="center">
                                    <img class="mt-5 " src="\assets\img\h3.jpg" width="160px">
                                    <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                        #3
SWAPKART Double Layer Soap Dispenser for Bathroom Accessories Dishwasher Liquid Holder Liquid Dispenser Pump with Sponge Hold
SWAPKART Double Layer Soap Dispenser for Bathroom Accessories Dishwasher Liquid Holder Liquid Dispenser Pump
        
                                        </a></p>
                                        
                                        <p class="text-danger">549$</p>
                                </div> 
                                    
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm bg-light" align="center">
                                        <img class="mt-5 " src="\assets\img\h4.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            #4
ATTRO Ultra Pro 2 Motivational 2-Liter BPA-Free Water Bottle with Leak-Proof Flip-Top Cap, Nylon Strap and Stylish Mint Green
ATTRO Ultra Pro 2 Motivational 2-Liter BPA-Free Water Bottle with Leak-Proof Flip-Top Cap, Nylon Strap and Stylish Mint Green
            
                                            </a></p>
                                            
                                            <p class="text-danger">149$</p>
                                    </div>
                                    <div class="col-sm bg-light" align="center">
                                        <img class="mt-5" src="\assets\img\h5.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            #5
2 Pcs Kitchen Mats, Waterproof Memory Foam Kitchen Rugs, Standing Desk Mat Floor Mats, Comfort Runner Rug Carpets for Kitchen
2 Pcs Kitchen Mats, Waterproof Memory Foam Kitchen Rugs, Standing Desk Mat Floor Mats, Comfort Runner Rug Carpets for
            
                                            </a></p>
                                           
                                            <p class="text-danger">449$</p>
                                    </div>
                                    <div class="col-sm bg-light" align="center">
                                        <img class="mt-5 " src="\assets\img\h6.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            ##6
                                            Qlect Portable Blender For Smoothie And Juices : Powerful 45 Watts Juicer Blender that Can Crush Ice too | Juicer Machine Wit
                                            Qlect Portable Blender For Smoothie And Juices : Powerful 45 Watts Juicer Blender that Can Crush Ice too | Juicer Machine
                                            </a></p>
                                        
                                            <p class="text-danger">1949$</p>
                                    
                                    </div>
                                   </div>
                              </div>
                              <div class="carousel-item">
                                <div class="row ">
                                    <div class="col-sm bg-light" align="center"> 
                                        <img class="mt-5 " src="\assets\img\h7.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            #7
RILION 6 fridge storage boxes multipurpose containers for storage Space-saving Refrigerator Side Door Organizer for fridge ki
RILION 6 fridge storage boxes multipurpose containers for storage Space-saving Refrigerator Side Door Organizer for fridge
                                            </a></p>
                                            
                                            <p class="text-danger">1999$</p></div>
                                    <div class="col-sm bg-light" align="center">
                                        <img class="mt-5 " src="\assets\img\h8.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            #8
                                            XMART INDIA Drawer Organizers for Underwear, Socks, Bras, Ties, Undergarments, and Scarves - Closet Storage Dividers for Hous
                                            XMART INDIA Drawer Organizers for Underwear, Socks, Bras, Ties, Undergarments, and Scarves - Closet Storage Dividers for
                                            </a></p>
                                            
                                            <p class="text-danger">789$</p>
                                    </div>
                                    <div class="col-sm bg-light" align="center">
                                        <img class="mt-5 " src="\assets\img\h9.jpg" width="160px">
                                        <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                       
                                            #9
GIGAWATTS 10.5 MTR/38 LED String Light 360° Copper Power Pixel 35 Feet Serial Decorative Fairy Lights for Home Diwali Christm
GIGAWATTS 10.5 MTR/38 LED String Light 360° Copper Power Pixel 35 Feet Serial Decorative Fairy Lights for Home Diwali
                                            </a></p>
                                            
                                            <p class="text-danger">158$</p>
                                    </div>
                                   </div>
                              </div>
                            </div>
                            <button style="height:90px ; width:50px ;" class="carousel-control-prev border mt-5 bg-secondary" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button style="height:90px ;width:50px "class="carousel-control-next border mt-5 bg-secondary" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
        
                    
                    </div>
        
                 </div>
            </div>

         </div>
         <!-- carousel2end -->
          
            <!-- carousel3 -->
            <div class="row mt-5" >
                <h1 style="font-family: serif; font-size: 40px;">New Releases in Electronics</h1>
                <div id="carousel3" class="carousel slide" >
                    <div class="carousel-indicators bg-secondary" >
                      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="height:450px ;">
                      <div class="carousel-item active">
                       <div class="row ">
                        <div class="col-sm bg-light" align="center" >
                            <img class="mt-5 mx-5" src="\assets\img\e1.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);">
                                <a href="">
                                    #1
                                    iQOO Z9 Lite 5G (Aqua Flow, 6GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
                                    iQOO Z9 Lite 5G (Aqua Flow, 6GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
                                </a></p>
                                
                                <p  class="text-danger">2496$</p>
                        </div>
                        <div class="col-sm bg-light"  align="center">
                            <img class="mt-5" src="\assets\img\e2.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                #2
iQOO Z9 Lite 5G (Mocha Brown, 6GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
iQOO Z9 Lite 5G (Mocha Brown, 6GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box

                                </a></p>
                                
                                <p  class="text-danger">15497$</p>
                        </div>
                        <div class="col-sm bg-light"  align="center">
                            <img class="mt-5 mx-5" src="\assets\img\e3.jpg" width="160px">
                            <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                #3
                                iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
                                iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box

                                </a></p>
                                
                                <p  class="text-danger">11495$</p>
                        </div>
                            
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\e4.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                                    #4
                                    iQOO Z9S Pro 5G (Luxe Marble, 8Gb Ram, 256Gb Storage) | Snapdragon 7 Gen 3 Processor | 120 Hz Curved Amoled Display with 4500
                                    iQOO Z9S Pro 5G (Luxe Marble, 8Gb Ram, 256Gb Storage) | Snapdragon 7 Gen 3 Processor | 120 Hz Curved Amoled Display…
                                    </a></p>
                                    
                                    <p class="text-danger">94950$</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5" src="\assets\img\e5.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #5
OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)
OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)
    
                                    </a></p>
                                   
                                    <p class="text-danger">1349$</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\e6.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #6
Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB Storage) | 50MP Dual Camera | Bigger 6.7" HD+ Display | 5000mAh Battery | 25W 
Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB Storage) | 50MP Dual Camera | Bigger 6.7" HD+ Display | 5000mAh Battery | 25W
                                    </a></p>
                                   
                                    <p class="text-danger">19499$</p>
                            
                            </div>
                           </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row ">
                            <div class="col-sm bg-light" align="center"> 
                                <img class="mt-5 mx-5" src="\assets\img\e7.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #7
                                    boAt Bassheads 100 C Wired Earphones with Type-C Jack, in-Line Microphone, in Ear, 10Mm Drivers, Signature Sound, Integrated 
                                    boAt Bassheads 100 C Wired Earphones with Type-C Jack, in-Line Microphone, in Ear, 10Mm Drivers, Signature Sound
                                    </a></p>
                                  
                                    <p class="text-danger">99990$</p></div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\e8.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #8
iQOO Z9 Lite 5G (Mocha Brown, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
iQOO Z9 Lite 5G (Mocha Brown, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box
                                    </a></p>
                                    
                                    <p class="text-danger">12345$</p>
                            </div>
                            <div class="col-sm bg-light" align="center">
                                <img class="mt-5 mx-5" src="\assets\img\e9.jpg" width="160px">
                                <p style="font-family: serif; color: rgb(9, 160, 87);"><a href="">
                               
                                    #9
Boult Newly Launched K10 Truly Wireless In Ear Ear buds with 50H Playtime, 4 Mics Clear Calling, 45ms Low Latency, Type-C Fas
Boult Newly Launched K10 Truly Wireless In Ear Ear buds with 50H Playtime, 4 Mics Clear Calling, 45ms Low Latency, Type-C Fast
                                    </a></p>
                                    
                                    <p class="text-danger">5585$</p>
                            </div>
                           </div>
                      </div>
                    </div>
                    <button style="height:90px ; width:50px ;" class="carousel-control-prev border mt-5 bg-secondary" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="height:90px ;width:50px "class="carousel-control-next border mt-5 bg-secondary" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            
            </div>
        
         
         
        </div>
        
</div>