<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Laptops</h4> 
         
          <p><a>Thin & light laptops</a></p>
            <p><a >2- in 1 laptops</a></p>
              <p><a>Gaming laptops</a></p>
              <p><a>Budgetlaptops</a></p>
              <h4 class="mt-4">Shop by brands</h4> 
                  <p><a>Acer</a></p>
                <p><a>Apple</a></p>
                <p><a>Dell</a></p>
               <p><a>Lenovo</a></p>
               <p><a>HP</a></p>
                <p><a>Samsung</a></p>
                 <p><a>Microsoft surface</a></p>
                  <p><a>Xiaomi</a></p>
                  

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Tablets</h4> 
       
          <p><a>Samsung</a></p>
            <p><a >Nokia</a></p>
              <p><a>Apple</a></p>
                <p><a>Huawai</a></p>
                <p><a>Honor</a></p>
                <h4 class="mt-4">PC accessories</h4>
                <p><a>Keyboard</a></p>
               <p><a>MICe</a></p>
               <p><a>Laptop bags</a></p>
                <p><a>PC speakers</a></p>
                 <p><a>Batteries</a></p>
                  <p><a>Cables</a></p>
                  

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="mt-2">Data storage</h4> 
       
          <p><a>Memory card</a></p>
            <p><a >Pendrives</a></p>
              <p><a>Hard drives</a></p>
                  <p><a>Solid state drives</a></p>
                <p><a>network attached storage</a></p>
                <h4 class="mt-4">Shop by brand</h4>
                <p><a>Samsung</a></p>
               <p><a>Sandisk</a></p>
               <p><a>Amazon basics</a></p>
                <p><a>WD</a></p>
                 <p><a>Seagate</a></p>
                  <p><a>Sony</a></p>
                  <p><a>HP</a></p>
                  <p><a>Kingston</a></p>

            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob3.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob4.jpg" height="300px">
        </div>
        
    </div>

</div>

