<div class="container-fluid">
    <div class="row">
        
        
        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Tv,Audio & Cameras</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Television</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Home Entertainment System</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Headphones</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Speakers</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Home Audio & theater</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Cameras</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> DSLR Cameras</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Security Cameras</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Cameras Accessories</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Music Instruments & Professional Audio</h6></div>
      

        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Appliance</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Air Conditioners</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Refridgerators</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Washing Machines</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Kitchen & Home Appliance</h6></div>
        <div id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Heating  and Cooling Appliance</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All Appliance</h6></div>
        
    
    </div>
</div>


