<div class="container-fluid">
    <div class="row">
        
        

        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Kindle E-readers</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All-new Kindle</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">All-new Kindle PaperWhite</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Kindle PaperWhite Starter Pack</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All-New Kindle Oasis</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Refurbished & Open Box</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Kindle E-reader Accessories</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> See all Kindle E-readers</h6></div>
        <div id="side"  class="col-md-12 border   " style="height:60px;background-color: rgb(184, 223, 238);"   ><h3 class="mx-5" style="color: black;font-size: large; font-family: serif;">Kindle eBooks</h3></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">All Kindle eBooks</h6></div>
        <div id="side"  class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;">Prime Reading</h6></div>
        <div  id="side" class="col-md-12    " style="height:45px;"   ><h6 class="mx-5" style="color: black;font-size: small;"> Kindle Unlimited</h6></div>
        <div id="side"  class="col-md-12   " style="height:45px;"   ><h6 class=" mx-5" style="color: black;font-size: small;">Deals on Kindle eBooks</h6></div> 
        <hr class="text-secondary">
    </div>
</div>
