<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Office products</h4> 
         
          <p><a>Pens ,pencils & writing supplies </a></p>
            <p><a >Pens & refills</a></p>
              <p><a>Pencils</a></p>
              <p><a>Premium pens</a></p>
              <p><a>Highlighters</a></p>
              <p><a>Permanent</a></p>
              <h4 class="mt-4">Art and craft supplies</h4> 
                  <p><a>Art markers</a></p>
                <p><a>Painting supplies</a></p>
                <p><a>Crayons</a></p>
               <p><a>Coloring pens</a></p>
               <p><a>Art glues</a></p>
                
                  

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Notebooks</h4> 
       
          <p><a>Notebooks</a></p>
            <p><a >Paper</a></p>
              <p><a>Drawing pad</a></p>
                
                <h4 class="mt-4">Calculators</h4>
                <h4 class="mt-4">Office supllies</h4>
                <p><a>Shredders</a></p>
               <p><a>Note counting machines</a></p>
               <p><a>Staplers & punches</a></p>
                <p><a>Files and folders</a></p>
                 
                  

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="mt-2">shop by brand</h4> 
       
          <p><a>Parker</a></p>
            <p><a >Casio</a></p>
              <p><a>GBC</a></p>
                  <p><a>Faber-castle</a></p>
                <p><a>Camilin</a></p>
              
                <p><a>Waterman</a></p>
               
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob17.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob18.jpg" height="300px">
        </div>
        
    </div>

</div>


