<div class="container-fluid">
    <div class="row" style="overflow: auto;">
        <div class="col-sm-2 mt-5" align="center">
           <h4 class="">Television</h4> 
         
          <p><a>Smart TVs</a></p>
            <p><a >32 inch TVs</a></p>
              <p><a>Large screen</a></p>
                  <p><a>4k TVs</a></p>
                <p><a>Full HD TVs</a></p>
                <p><a>HD ready TVs</a></p>
               <p><a>Google certified android TVs</a></p>
               <p><a>Linux smart TVs</a></p>
                <p><a>TVs with web OS & Tizen</a></p>
                 

        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Shop by brands</h4> 
       
          <p><a>Samsung</a></p>
            <p><a >Mi</a></p>
              <p><a>Apple</a></p>
                  <p><a>Kodak</a></p>
                <p><a>TCL</a></p>
                <p><a>LG</a></p>
               <p><a>Oneplus</a></p>
               <p><a>BPL</a></p>
                <p><a>Micromax</a></p>
                 <p><a>Kevin</a></p>
                  <p><a>Onida</a></p>
                  <p><a>Panasonic</a></p>

            
        </div>
        <div class="col-sm-2 mt-5">
            <h4 class="">Other home entertainment</h4> 
       
          <p><a>home theatre systems</a></p>
            <p><a >Projector & accessories</a></p>
              <p><a>Set top boxes</a></p>
                  <p><a>Streaming media players</a></p>
                <p><a>DVD & bluray players</a></p>
                <p><a>Cables</a></p>
               <p><a>Oneplus</a></p>
               <p><a>audio-video accessories</a></p>
                
            
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob5.jpg" height="300px">
        </div>
        <div class="col-sm-3 mt-5">
            <img src="\assets\img\mob6.jpg" height="300px">
        </div>
        
    </div>

</div>

